.frame
  - semantic_form_for resource_name, resource, :url => session_path(resource_name) do |form|
    - form.inputs :name => t('devise.sign_in.headline') do
      = form.input :email, :label => t('devise.sign_in.form.labels.email')      
      = form.input :password, :label => t('devise.sign_in.form.labels.password')

      - if devise_mapping.rememberable?
        %li.checkbox-optional
          = form.check_box :remember_me
          = form.label :remember_me, t('devise.sign_in.form.labels.remember_me')
    - form.buttons do
      = form.submit t('devise.sign_in.form.submit')
      %p.hint= t('devise.mandatory')

= render :partial => "shared/devise_links"