- unless @nodes.empty?
  %h1
    =@region.name
    &rsaquo;
    =@node_type.localized_name
    &rsaquo;
    =t("wheelchairstatus.#{@nodes.first.wheelchair}")
    ="(#{@nodes.total_entries})"
- else
  %h1="(#{@nodes.total_entries})"


%ul#nodes
  = render :partial => 'node', :collection => @nodes

= will_paginate @nodes