= form.inputs :name => t('formtastic.titles.basic'), :id => 'basic' do
  = form.input :name, :required => @node.new_record?

  %li.select.required#node-wheelchair-input
    =label_tag('node-wheelchair', link_to(t('formtastic.labels.wheelchair'), I18n.locale == :de ? 'http://wheelmap.org/about/mappen/' : 'http://wheelmap.org/en/about/how-to-map/', :target => '_blank') + '*')
    %select#node-wheelchair{:name => 'node[wheelchair]'}
      = render :partial => 'options_for_wheelchair', :object => inputs.wheelchair

  = form.input :wheelchair_description, :required => false

  %li.select.required#node-type-input{:class => @node.errors[:type].present? ? 'error' : ''}
    = form.label :type, :required => true
    %select#node_type{:name => 'node[type]'}
      = render :partial => 'options_for_type', :object => inputs.type
    - if @node.errors[:type].present?
      %p.inline-errors
        = @node.errors[:type].to_sentence
= form.inputs :name => t('nodes.new.form.legend') do
  - if @node.new_record?
    .form-info=t('nodes.new.form.location')

  = form.input :lon, :input_html =>{:readonly => 'readonly', :value => @node.lon }
  = form.input :lat, :input_html =>{:readonly => 'readonly', :value => @node.lat }, :hint => false
  - unless @node.new_record? # !is_new?
    .form-info
      Dieser Ort ist nicht korrekt?
      = mail_to 'bugs@wheelmap.org', t('.link.report_bug'), :subject => "[Wheelmap] Problem with #{@node.headline}", :body => "(please only write in English or German)\n\nHi,\n\nsomething is wrong with location: #{node_url(@node)}\n\nthe problem is:"

= form.inputs :name => t('formtastic.titles.optional'), :id => 'optional' do
  = form.input :street, :required => false

  = form.input :housenumber, :required => false

  = form.input :postcode, :required => false

  = form.input :city, :required => false

  = form.input :website, :required => false

  = form.input :phone, :required => false
  -#%li.string.optional#node-phone-input
    -#%label{:for => 'node-phone'}Telefon:
    -#%input#node-phone{:type => :tel, :pattern => '/\+49.*/', :size => 43, :name => 'node[phone]', :value => 'sdd', :'x-moz-errormessage' => 'nee so nicht'}

