- form.inputs :name => t('formtastic.titles.basic'), :id => 'basic' do
  = form.input :name
  %li.select-required#node-wheelchair-input
    = form.label :wheelchair, :required => true
    %select#node-wheelchair{:name => 'node[wheelchair]'}
      = options_for_wheelchair_status(@node.wheelchair)

  = form.input :wheelchair_description, :required => false
  %li.select-required#node-type-input
    = form.label :type, :required => true
    %select#node-type{:name => 'node[type]'}
      = render :partial => 'options_for_type', :object => inputs.type
  =form.input :lon, :input_html =>{:readonly => 'readonly'}
  =form.input :lat, :input_html =>{:readonly => 'readonly'}, :hint => true
  =form.input :id, :as => :hidden


- form.inputs :name => t('formtastic.titles.optional'), :id => 'optional' do
  - form.semantic_fields_for :tag do |tag|
    = tag.input '][addr:street', :label => t('formtastic.labels.street'), :required => false, :input_html => {:value => @node.tags['addr:street']}
    = tag.input '][addr:housenumber', :label => t('formtastic.labels.housenumber'), :required => false, :input_html => {:value => @node.tags['addr:housenumber']}
    = tag.input '][addr:postcode', :label => t('formtastic.labels.postcode'), :required => false, :input_html => {:value => @node.tags['addr:postcode']}
    = tag.input '][addr:city', :label => t('formtastic.labels.city'), :required => false, :input_html => {:value => @node.tags['addr:city']}
    = tag.input '][website', :label => t('formtastic.labels.website'), :required => false, :input_html => {:value => @node.tags['website']}, :hint => t('formtastic.hints.website')
    = tag.input '][phone', :label => t('formtastic.labels.phone'), :required => false, :input_html => {:value => @node.tags['phone']}, :hint => t('formtastic.hints.phone')
