%section#node-map
  %h2
    Karte:
  = image_tag("http://api.tiles.mapbox.com/v3/sozialhelden.map-iqt6py1k/pin-l+86af4d(#{node_map.lon},#{node_map.lat})/#{node_map.lon},#{node_map.lat},17/359x239.png64")
