.node-report.btn-group.dropdown.pull-right
  %button.dropdown-toggle.btn{:'data-toggle' => 'dropdown'}
    %i.icon-bolt
    %span.caret

  .node-report-accordion.dropdown-accordion
    %header
      .pull-right
        = link_to('FAQ', I18n.locale == :de ? '//news.wheelmap.org/about/faqs/' : '//news.wheelmap.org/en/faqs/', class: 'btn btn-mini', target: '_blank')
        = mail_to('bugs@wheelmap.org', content_tag(:i, '', class: 'icon-envelope-alt'), class: 'btn btn-mini', encode: :hex, subject: I18n.t('models.node.mail.subject', headline: @node.headline), body: I18n.t('models.node.mail.body', url: node_url(@node)))
      = t('faq.headline')
    - t('faq.questions').size.times do |i|
      .accordion-group
        %a.collapsed.accordion-toggle{href: "#node-report-#{i}", :'data-toggle' => 'collapse', :'data-parent' => '#node-report-accordion'}
          %i.icon-chevron-up.pull-right
          = t('faq.questions')[i]
        .collapse{id: "node-report-#{i}"}
          .accordion-inner
            =t("faq.answers")[i]
