%section#node-status
  .row-fluid
    .dropdown.span6.wheelchair
      %h2=t('.wheelchair_accessibility')
      %div
        %a{:'data-toggle' => 'dropdown', class: "dropdown-toggle btn wheelchair #{node_status.wheelchair}", :'data-status' => node_status.wheelchair}
          %span.pull-left.text= t("home.index.popup.form.#{node_status.wheelchair}")
          %i.pull-left.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.#{node_status.wheelchair}"), 'data-content' => t("wheelmap.what_is.#{node_status.accesibility}"), 'data-trigger' => 'hover'}
          = fa_icon('caret-down', class: 'pull-right')
        %ul.dropdown-menu{'role' => 'menu'}
          - %w{yes limited no}.each do |status|
            %li
              %a{class: "#{status}", :'data-toggle' => 'status', :'data-status' => status }
                %span.wm-checkbox{'class' => ["wheelchair #{status}", (node_status.wheelchair == status ? 'checked' : nil)]}
                  %i.icon-ok
                %span.text
                  = t("home.index.popup.form.#{status}")
                %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.#{status}"), 'data-content' => t("wheelmap.what_is.#{node_status.accesibility}"), 'data-trigger' => 'hover'}

          %li.submit
            %button.btn{:'data-toggle' => 'status-submit', :'data-url' => update_wheelchair_node_url(node_status, :format => :js), disabled: 'disabled'}
              =t('formtastic.labels.save')
  - node_status.provided_pois.with_wheelchair.each do |premium|
    .row-fluid
      .span6
        .premium
          = fa_stacked_icon "ok", base: "comment-alt"
          = t('.premium', name: premium.provider.name)
          %span{class: premium.wheelchair}
            = t("wheelchairstatus.#{premium.wheelchair}") + '.'
          = link_to('Mehr Infos', premium.url, target: '_blank', rel: 'no-follow') unless premium.url.blank?

  -#.dropdown.span6.toilet
    %h2=t('.accessible_toilet')
    %div
      %a.dropdown-toggle.btn.wheelchair-yes{'data-toggle' => 'dropdown'}
        WC rollstuhlgerecht
        %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
        = fa_icon('caret-down', class: 'pull-right')
      %ul.dropdown-menu{'role' => 'menu'}
        %li
          %a.popover-wheelchair-yes
            %span.wm-checkbox.wheelchair-yes.checked
              %i.icon-ok
            WC rollstuhlgerecht
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
        %li
          %a.popover-wheelchair-no
            %span.wm-checkbox.wheelchair-no
              %i.icon-ok
            WC nicht rollstuhlgerecht
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
