%section.node-similar-locations
  - if (similar_pois = node_similar.sorted_similar_pois[0..5]).length > 0
    %h2=t('.similar', name: node_similar.node_type.name)
    %ul.unstyled
      - similar_pois.each do |s|
        %li
          %span{:class => "wheelchair #{s.wheelchair}"}
          = link_to s.headline, node_path(s)
          %span.distance
            = fa_icon "location-arrow"
            = "#{node_similar.distance_to_in_meter(s).round}m"
  %small
    = link_to_landing_page(t("nodes.show.link.listing", :type => @node.node_type.localized_name, :city => @node.region.name), @node.region, @node.wheelchair, @node.node_type, :class => 'right') if @node.region
