%section#node-status.row-fluid
  .dropdown.span6
    %h2
      Rollstuhlgerechtigkeit:
    %a{'data-toggle' => 'dropdown', 'class' => "dropdown-toggle btn wheelchair-#{@node.wheelchair}"}
      = t("home.index.popup.form.#{@node.wheelchair}")
      %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %i.icon-caret-down.pull-right
    %ul.dropdown-menu{'role' => 'menu'}
      %li
        %a.popover-wheelchair-yes
          %span{'class' => 'wm-checkbox wheelchair-yes ' + (@node.wheelchair == 'yes' ? 'checked' : '')}
            %i.icon-ok
          = t("home.index.popup.form.yes")
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => t('wheelmap.what_is.fully_accessible'), 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-limited
          %span{'class' => 'wm-checkbox wheelchair-limited ' + (@node.wheelchair == 'limited' ? 'checked' : '')}
            %i.icon-ok
          = t("home.index.popup.form.limited")
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => t('wheelmap.what_is.limited_accessible'), 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-no
          %span{'class' => 'wm-checkbox wheelchair-no ' + (@node.wheelchair == 'no' ? 'checked' : '')}
            %i.icon-ok
          = t("home.index.popup.form.no")
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => t('wheelmap.what_is.not_accessible'), 'data-trigger' => 'hover'}

  .dropdown.span6
    %h2
      Rollstuhlgerechtes WC:
    %a.dropdown-toggle.btn.wheelchair-yes{'data-toggle' => 'dropdown'}
      WC rollstuhlgerecht
      %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %i.icon-caret-down.pull-right
    %ul.dropdown-menu{'role' => 'menu'}
      %li
        %a.popover-wheelchair-yes
          %span.wm-checkbox.wheelchair-yes.checked
            %i.icon-ok
          WC rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
      %li
        %a.popover-wheelchair-no
          %span.wm-checkbox.wheelchair-no
            %i.icon-ok
          WC nicht rollstuhlgerecht
          %i.icon-question-sign{'data-toggle' => 'popover', 'title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
