%section#node-status.row-fluid
  .dropdown.span6.wheelchair
    %h2=t('.wheelchair_accessibility')
    %div
      %a{:'data-toggle' => 'dropdown', class: "dropdown-toggle btn wheelchair-#{@node.wheelchair}", :'data-status' => @node.wheelchair}
        %span.text= t("home.index.popup.form.#{@node.wheelchair}")
        %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.#{@node.wheelchair}"), 'data-content' => t("wheelmap.what_is.#{@node.accesibility}"), 'data-trigger' => 'hover'}
        %i.icon-caret-down.pull-right
      %ul.dropdown-menu{'role' => 'menu'}
        %li
          %a.popover-wheelchair-yes{:'data-toggle' => 'status', :'data-status' => 'yes' }
            %span{'class' => 'wm-checkbox wheelchair-yes ' + (@node.wheelchair == 'yes' ? 'checked' : '')}
              %i.icon-ok
            = t("home.index.popup.form.yes")
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.yes"), 'data-content' => t('wheelmap.what_is.fully_accessible'), 'data-trigger' => 'hover'}
        %li
          %a.popover-wheelchair-limited{:'data-toggle' => 'status', :'data-status' => 'limited' }
            %span{'class' => 'wm-checkbox wheelchair-limited ' + (@node.wheelchair == 'limited' ? 'checked' : '')}
              %i.icon-ok
            = t("home.index.popup.form.limited")
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.limited"), 'data-content' => t('wheelmap.what_is.limited_accessible'), 'data-trigger' => 'hover'}
        %li
          %a.popover-wheelchair-no{:'data-toggle' => 'status', :'data-status' => 'no' }
            %span{'class' => 'wm-checkbox wheelchair-no ' + (@node.wheelchair == 'no' ? 'checked' : '')}
              %i.icon-ok
            = t("home.index.popup.form.no")
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.no"), 'data-content' => t('wheelmap.what_is.not_accessible'), 'data-trigger' => 'hover'}
        %li.submit
          %button.btn{:'data-toggle' => 'status-submit', :'data-url' => update_wheelchair_node_url(@node, :format => :js), disabled: 'disabled'}
            =t('formtastic.labels.save')

  -#.dropdown.span6.toilet
    %h2=t('.accessible_toilet')
    %div
      %a.dropdown-toggle.btn.wheelchair-yes{'data-toggle' => 'dropdown'}
        WC rollstuhlgerecht
        %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
        %i.icon-caret-down.pull-right
      %ul.dropdown-menu{'role' => 'menu'}
        %li
          %a.popover-wheelchair-yes
            %span.wm-checkbox.wheelchair-yes.checked
              %i.icon-ok
            WC rollstuhlgerecht
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
        %li
          %a.popover-wheelchair-no
            %span.wm-checkbox.wheelchair-no
              %i.icon-ok
            WC nicht rollstuhlgerecht
            %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => 'Rollstuhlgerechtigkeit', 'data-content' => 'Test', 'data-trigger' => 'hover'}
