%section.node-photos
  %h2=t('.photos_of_this_place')
  - if user_signed_in? && current_user.terms?
    .alert.alert-icon
      = fa_icon 'exclamation-sign'
      = t('.alert')
  =semantic_form_for([@node, Photo.new], url: node_photos_url(@node), html: { class: 'node-photo-dropzone', id: 'node-photo-dropzone', multipart: true }) do |form|
    %ul
      = list_of(node_photos.photos.reject{|photo| photo.new_record?}) do |photo|
        = link_to image_path(photo.image.url(:gallery).to_s), :'data-toggle' => 'magnific-popup', :'data-gallery' => 'node' do
          = image_tag photo.image.url(:gallery_preview), class: 'img-polaroid', width: 180, height: 180
      %li.clickable
        - if user_signed_in? and current_user.terms?
          .fallback
            = form.file_field :image, :rel => node_photos_path(@node)
        = link_to (user_signed_in? ? (current_user.terms? ? nil : terms_path) : new_user_session_path), class: 'add', :'data-toggle' => user_signed_in? && current_user.terms? ? 'dropzone' : '' do
          %i.icon-camera
          =t('.add')
        = link_to nil, class: 'upload wheelchair-yes fade' do
          %i.icon-cloud-upload
          =t('.upload')
