%optgroup{:label => t("poi.category.unknown"), :class => "category unknown"}
  %option{:label => t("poi.name.unknown.unknown"), :value => nil, :disabled => :disabled}>
    =t("poi.name.unknown.unknown")
    
    
-Category.all.sort_by{|c| I18n.t("poi.category.#{c.identifier}")}.each do |category|
  %optgroup{:label => t("poi.category.#{category.identifier}"), :class => "category #{category.identifier}"}
    -category.node_types.sort_by{|n| t("poi.name.#{category.identifier}.#{n.identifier}")}.each do |node_type|
      - if options_for_type.to_s == node_type.identifier
        %option{:label => t("poi.name.#{category.identifier}.#{node_type.identifier}"), :value => node_type.identifier, :selected => 'selected' }>
          =t("poi.name.#{category.identifier}.#{node_type.identifier}")
      - else
        %option{:label => t("poi.name.#{category.identifier}.#{node_type.identifier}"), :value => node_type.identifier }>
          =t("poi.name.#{category.identifier}.#{node_type.identifier}")
