%header#node-header
  %h1{itemprop: 'name'}= popover_header.headline
  = render_address(popover_header)
  = render partial: 'node_geocoordinates', object: popover_header

  = close_button
  = render partial: 'node_breadcrumbs', object: popover_header
