%section#node-status.row-fluid
  .dropdown.span6.wheelchair
    %h3=t('nodes.node_status.wheelchair_accessibility')
    %div
      %a{:'data-toggle' => 'dropdown', class: "dropdown-toggle btn wheelchair-{{wheelchair}}", :'data-status' => '{{wheelchair}}'}
        %span.text= '{{status_text}}'
        %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => '{{status_text}}', 'data-content' => '{{status_description}}', 'data-trigger' => 'hover'}
        %i.icon-caret-down.pull-right
      %ul.dropdown-menu{'role' => 'menu'}
        - %w{yes limited no}.each do |status|
          %li
            %a.popover-wheelchair-yes{:'data-toggle' => 'status', :'data-status' => status }
              %span{'class' => "wm-checkbox wheelchair-#{status}"}
                %i.icon-ok
              = t("home.index.popup.form.#{status}")
              %i.icon-question-sign{'data-toggle' => 'popover', 'data-title' => t("home.index.popup.form.#{status}"), 'data-content' => t('wheelmap.what_is.fully_accessible'), 'data-trigger' => 'hover'}

    %button.submit.btn{:'data-toggle' => 'status-submit', :'data-url' =>  '/nodes/{{id}}/update_wheelchair.js'}
      =t('formtastic.labels.save')
