#map_wrapper
  #minimap
  = link_to t('.link.large_map'), root_path, :onclick => "location=permalink('#{root_path}');return false;", :class => 'hide', :id => 'show-on-large-map'

#accessibility
  = semantic_form_for @node, :as => :node, :url => {:controller => 'nodes', :action => 'update', :id => @node}, :html => { :method => :put, :multipart => true } do |form|
    = render :partial => 'inputs', :object => @node, :locals => {:form => form}

    = form.actions do
      = form.action :submit, :label => t('formtastic.labels.save')
      %p.hint= t('devise.mandatory')

- content_for :head do
  %title= t('.header.title', :node => @node.name)

- content_for :javascript_constants do
  :javascript
    var lon = #{@node.lon};
    var lat = #{@node.lat};
    var zoom = #{params[:zoom] || 18};
    #{var_language};

- key = Rails.application.config.session_options[:key]
- content_for :javascript do
  :javascript
    drawmap(defaultControls('minimap'), 'minimap');
    jumpTo(#{@node.lon}, #{@node.lat}, 18);
    createDraggableLayer(placesStyle(),#{@node.lon}, #{@node.lat});


- content_for :robots do
  %meta{:name => 'robots', :content => 'noindex, nofollow'}
