#accessibility.box
  - semantic_form_for :node, @node, :url => {:controller => 'nodes', :action => 'update', :id => @node}, :html => { :method => :put} do |form|
    = render :partial => 'inputs', :object => @node, :locals => {:form => form}
    
    - form.buttons do
      = form.submit
#map_wrapper  
  #minimap

- content_for :breadcrumbs do
  = link_to t('breadcrumbs.root'), root_path
  %span
    = t('breadcrumbs.node.edit')

- content_for :javascript do
  :javascript
    jumpTo(parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"), 17);
    createDraggableLayer(placesStyle(),parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"));