#map_wrapper  
  #minimap
  = link_to t('.link.large_map'), root_path, :onclick => "location=permalink('#{root_path}');return false;", :class => 'hide', :id => 'show-on-large-map'

#accessibility
  - semantic_form_for :node, @node,  :url => {:controller => 'nodes', :action => 'create'} do |form|
    = render :partial => 'inputs', :object => @node, :locals => {:form => form}
    
    - form.buttons do
      = form.submit t('formtastic.labels.create')
      %p.hint= t('devise.mandatory')
      
- content_for :head do
  %title= t('.header.title')

- content_for :javascript do
  :javascript
    createDraggableLayer(placesStyle(),lon, lat);


  