#accessibility.box
  - semantic_form_for :node, @node,  :url => {:controller => 'nodes', :action => 'create'} do |form|
    - form.inputs :name => t('formtastic.titles.basic'), :id => 'basic' do
      = form.input :name
      = form.input :wheelchair, :collection => WheelchairStatus.map{|status| t("wheelchairstatus.#{status}")}, :include_blank => false, :input_html => {:value => @node.wheelchair}
      = form.input :wheelchair_description, :input_html => {:value => @node.wheelchair_description}
      %li.select-required#node-type-input
        = form.label :type, :required => true
        %select#node-type{:name => 'node[type]'}
          - [:public_transfer, :food, :leisure, :money, :post, :government, :health, :car, :education, :misc].each do |amenity_group|
            %optgroup{:label => t("poi.category.#{amenity_group}"), :class => "category #{amenity_group}"}
              - Amenities[amenity_group].each do |elements|
                -elements.each do |key,values|
                  - if @node.type.to_s == key.to_s
                    %option{:label => t("poi.name.#{key}"), :value => key, :selected => 'selected'}>=t("poi.name.#{key}")
                  - else
                    %option{:label => t("poi.name.#{key}"), :value => key}>=t("poi.name.#{key}")


    - form.inputs :name => t('formtastic.titles.optional'), :id => 'optional' do
      = form.input :street,       :required => false
      = form.input :housenumber,  :required => false
      = form.input :postcode,     :required => false
      = form.input :city,         :required => false
      = form.input :url,          :required => false
      = form.input :phone,        :required => false
    
    - form.buttons do
      = form.submit
  
#map

- content_for :breadcrumbs do
  = link_to t('breadcrumbs.root'), root_path
  %span
    = t('breadcrumbs.node.create')
