#accessibility.box
  - semantic_form_for :node, @node,  :url => {:controller => 'nodes', :action => 'create'} do |form|
    = render :partial => 'inputs', :object => @node, :locals => {:form => form}
    
    - form.buttons do
      = form.submit
      %p.hint= t('devise.mandatory')
#map_wrapper  
  #map

- content_for :breadcrumbs do
  = link_to t('breadcrumbs.root'), root_path
  %span
    = t('breadcrumbs.node.create')

- content_for :javascript do
  :javascript
    checkForPermalink();
    jumpTo(lon, lat, zoom);
    createDraggableLayer(placesStyle(),lon, lat);


  