#container
  .nodes-new{'data-widget': true}
    .content
      %header.nodes-new-header
        =link_to root_path, class: 'btn btn--back' do
          zurück
        %h1
          Ort hinzufügen
      .nodes-new-breadcrumbs
        %ul#nodes-add-breadcrumbs
          %li
            %a{href: '#node-add-name-category', 'data-trigger': :widget}
              Name & Kategorie
          %li
            %a{href: '#node-add-address', 'data-trigger': :widget}
              Adresse
          %li
            %a{href: '#node-add-similar', 'data-trigger': :widget}
              Ähnliche Orte
          %li
            %a{href: '#node-add-status', 'data-trigger': :widget}
              Rollstuhlgerechtigkeit
          %li
            %a{href: '#node-add-contact', 'data-trigger': :widget}
              Kontakt

      .nodes-new-content
        = simple_form_for @node, as: :node, url: { controller: 'nodes', action: 'create', id: @node }, html: { method: :post, class: 'node-form form-horizontal', novalidate: true } do |form|
          = render partial: 'node_new_category_name', object: @node, locals: { form: form }
          = render partial: 'node_new_address', object: @node, locals: { form: form }
          = render partial: 'node_new_similar', object: @node, locals: { form: form }
          = render partial: 'node_new_status', object: @node, locals: { form: form }
          = render partial: 'node_new_contact', object: @node, locals: { form: form }
          = render partial: 'node_new_overview', object: @node, locals: { form: form }