#container
  .nodes-new
    .content
      %header.nodes-new-header
        =link_to root_path, class: 'btn btn--back' do
          zurück
        %h1
          Ort hinzufügen
      .nodes-new-breadcrumbs
        %ul{class: ('done' if @widget.active?(:overview))}
          - for section in @widget.sections
            - if section != :overview
              %li{class: "#{('done' if @widget.done?(section))} #{('active' if @widget.active?(section))}"}
                - #%a{href: (send("new_#{section}_nodes_path") if @widget.done?(section))}
                %a
                  = section

      .nodes-new-content
        = simple_form_for @node, as: :node, url: (if !@widget.active?(:overview) then send("new_#{@widget.next}_nodes_path") else new_node_path end), html: { method: :post, class: 'node-form form-horizontal', novalidate: true } do |form|
          = render partial: "node_new_#{@widget.active}", object: @node, locals: { form: form }