%header
  %ol.breadcrumbs.unstyled
    = list_of(@node.breadcrumbs) do |i|
      = i
  %h1= @node.headline
  - if @node.address?
    %address
      = @node.address

  %button.close
    %i.icon-remove

%aside.pull-right
  %button.btn.btn-edit
    %i.icon-pencil
    bearbeiten

  %button.btn
    %i.icon-share

  .btn-group.pull-right
    %button.btn
      %i.icon-warning-sign
    %button.btn
      %span.caret

  %address
    - if @node.address?
      %h2
        Adresse
      %ul.unstyled
        %li
          %i.icon-map-marker
          = @node.address

    %h2
      Kontaktdaten
    %ul.unstyled
      %li
        %i.icon-phone
        030 12345081231
      %li
        %i.icon-envelope
        %a
          mail@kreativhaus-berlin-lorem.de
      %li
        %i.icon-external-link
        %a
          kreativhaus-berlin-lorem.de
