%h1
  =@node.name
  %span.addition
    = link_to 'Platz bearbeiten', edit_node_path(@node)
    


:javascript
  var lon = parseFloat("#{@node.lon}");
  var lat = parseFloat("#{@node.lat}");
  object_types.push("#{@node.type}");

.box
  %table#accessibility{:class => "#{dom_class(@node)}"}
    %tr
      
      %th Barrierefrei:
      %td
        %ul
          - %w{yes limited no unknown}.each_with_index do |status, index|
            %li
              .status{:class => @node.wheelchair == status ? "checked #{status}" : "#{status}"}
                - if @node.wheelchair == status
                  %input{:type => 'radio', :readonly => 'readonly', :name => "wheelchair_#{@node.id}", :value => status, :class => status, :id => "wheelchair_#{@node.id}_#{status}", :checked =>  'checked'}
                - else
                  %input{:type => 'radio', :name => "wheelchair_#{@node.id}", :value => status, :class => status, :id => "wheelchair_#{@node.id}_#{status}"}
              %label{:for => "wheelchair_#{@node.id}_#{status}", :class => @node.wheelchair == status ? "checked #{status}" : "#{status}"}= status
              .clear
      %td
        
    %tr
      %th Infos zur Barrierefreiheit:
      %td{:colspan => 2} Toiletten sind zu eng

  %table#properties{:class => "#{dom_class(@node)}"}
    %tr
      %th Kategorie:
      
      - category = category_for_node(@node.type)
      %td{:class => category}
        - if category
          = t("poi.category.#{category}")
        - else
          &nbsp;

    %tr
      %th Typ:
      %td
        - if @node.type
          = t("poi.name.#{@node.type}")
        -else
          &nbsp;
    %tr
      %th Strasse:
      %td=@node.tags['address:street'] || '&nbsp;'
    %tr
      %th PLZ:
      %td=@node.tags['address:zip'] || '&nbsp;'
    %tr
      %th Ort:
      %td=@node.tags['address:city'] || '&nbsp;'

    %tr
      %th Webseite:
      %td=@node.tags['website'] || '&nbsp;'

    %tr
      %th Telefon:
      %td
        =@node.tags['contact:telephone'] || '&nbsp;'

#map_wrapper
  #map
  = link_to t('.link.large_map'), root_path, :onclick => "location=permalink('#{root_path}');return false;", :class => 'magnify'


  

- content_for :breadcrumbs do
  = link_to t('breadcrumbs.root'), root_path
  = link_to 'Deutschland', root_path
  = link_to 'Berlin', root_path, :class => 'last'

- content_for :javascript do
  :javascript
    jumpTo(parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"), 17);
    createDraggableLayer(placesStyle(),parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"));