%article#node.container{itemscope:'', itemtype: 'http://schema.org/Place'}
  = render partial: 'node_header', object: @node

  .row-fluid
    %section#node-content.node-wrapper.span8
      = render partial: 'node_status', object: @node
      = render partial: 'node_photos', object: @node
      = render partial: 'node_note', object: @node
      = render partial: 'node_streetview', object: @node

    %section#node-aside.span4.node-wrapper
      = render partial: 'node_edit', object: @node
      = render partial: 'node_map', object: @node
      = render partial: 'node_data', object: @node
      = render partial: 'node_similar', object: @node

- content_for :meta do
  = render_og_metadata(title: @node.name, description: t('header.title'), type: 'place', url: node_url(@node), image: image_path('wheely_big.jpg'))
  = render_og_locationdata(latitude: @node.lat, longitude: @node.lon)

- content_for :head do
  %title= [@node.name, @node.node_type_name, @node.category_name, @node.region_name, "Wheelmap"].compact.join(' | ')
