%header
  %ol.breadcrumbs.unstyled
    = list_of(@node.breadcrumbs) do |i|
      = i
  %h1= @node.headline
  - if @node.address?
    %address
      = @node.address

  %button.close
    %i.icon-remove

%aside.pull-right
  %button.btn.btn-edit
    %i.icon-pencil
    bearbeiten

  %button.btn
    %i.icon-share

  .btn-group.pull-right
    %button.btn
      %i.icon-warning-sign
    %button.btn
      %span.caret

  %address#node-address
    - if @node.address?
      %h2
        Adresse
      %ul.unstyled
        %li
          %i.icon-map-marker
          = @node.address

    - if @node.tags['phone'] || @node.tags['email'] || @node.tags['website']
      %h2
        Kontaktdaten
      %ul.unstyled
        - if @node.tags['phone']
          %li
            %i.icon-phone
            = @node.tags['phone']
        - if @node.tags['email']
          %li
            %i.icon-envelope
            = mail_to @node.tags['email']
        - if @node.tags['website']
          %li
            %i.icon-external-link
            = link_to URI.parse(@node.tags['website']).host, @node.tags['website'], {:target => '_blank'}

  - if (similar_pois = @node.sorted_similar_pois[0..5]).length > 0
    #node-similar-locations
      %h2
        = "Ähnliche Orte: " + t("poi.name.#{@node.category.identifier}.#{@node.node_type.identifier}")

      %ul.unstyled
        - similar_pois.each do |s|
          %li
            %span{:class => "wheelchair wheelchair-#{s.wheelchair}"}
            = link_to s.headline, node_path(s)
            %span.distance
              = "#{@node.distance_to_in_meter(s).round}m"
