%article#node.container{itemscope:'', itemtype: 'http://schema.org/Place'}
  = render partial: 'node_header', object: @node

  .row-fluid
    %section#node-content.node-wrapper.span8
      = render partial: 'node_status', object: @node
      = render partial: 'node_photos', object: @node
      = render partial: 'node_note', object: @node
      = render partial: 'node_streetview', object: @node

    %section#node-aside.span4.node-wrapper
      = render partial: 'node_edit', object: @node
      = render partial: 'node_map', object: @node
      = render partial: 'node_data', object: @node
      = render partial: 'node_similar', object: @node

- content_for :meta do
  = render_og_metadata(title: @node.name, :description => t('header.title'), type: 'place', street_address: render_street(@node), postal_code: @node.postcode, locality: @node.city, phone_number: @node.phone, website: @node.website, updated_time: @node.updated_at.to_i, url: node_url(@node), :locale => I18n.locale, :'locale:alternate' => (I18n.available_locales - [I18n.locale]), image: image_path("bg_logo.png"))
  = render_og_locationdata(latitude: @node.lat, longitude: @node.lon)
