%h1
  =@node.name
  %span.addition
    = link_to t('.link.edit_node'), edit_node_path(@node)

:javascript
  var lon = parseFloat("#{@node.lon}");
  var lat = parseFloat("#{@node.lat}");
  object_types.push("#{@node.type}");

.box
  %table#accessibility{:class => "#{dom_class(@node)}"}
    %tr
      
      %th=t('formtastic.labels.wheelchair')
      %td
        %ul
          - %w{yes limited no unknown}.each_with_index do |status, index|
            %li
              .status{:class => @node.wheelchair == status ? "checked #{status}" : "#{status}"}
                - if @node.wheelchair == status
                  %input{:type => 'radio', :readonly => 'readonly', :name => "wheelchair_#{@node.id}", :value => status, :class => status, :id => "wheelchair_#{@node.id}_#{status}", :checked =>  'checked'}
                - else
                  %input{:type => 'radio', :name => "wheelchair_#{@node.id}", :value => status, :class => status, :id => "wheelchair_#{@node.id}_#{status}"}
              %label{:for => "wheelchair_#{@node.id}_#{status}", :class => @node.wheelchair == status ? "checked #{status}" : "#{status}"}= status
              .clear
      %td
        
    -if @node.wheelchair_description
      %tr
        %th=t('formtastic.labels.wheelchair_description')
        %td{:colspan => 2}= @node.wheelchair_description

  %table#properties{:class => "#{dom_class(@node)}"}
    %tr
      %th=t('formtastic.labels.category')
      
      - category = category_for_node(@node.type)
      %td{:class => category}
        - if category
          = t("poi.category.#{category}")
        - else
          &nbsp;

    %tr
      %th=t('formtastic.labels.type')
      %td
        - if @node.type
          = t("poi.name.#{@node.type}")
        -else
          &nbsp;
    %tr
      %th=t('formtastic.labels.street')
      %td
        =@node.tags['addr:street']
        =@node.tags['addr:housenumber'] || '&nbsp;'
    %tr
      %th=t('formtastic.labels.postcode')
      %td=@node.tags['addr:postcode'] || '&nbsp;'
    %tr
      %th=t('formtastic.labels.city')
      %td=@node.tags['addr:city'] || '&nbsp;'

    %tr
      %th=t('formtastic.labels.website')
      %td
        -if @node.tags['website']
          %a{:href => @node.tags['website'], :rel => 'nofollow', :target => '_blank'}>=@node.tags['website']

    %tr
      %th=t('formtastic.labels.phone')
      %td
        =@node.tags['phone'] || '&nbsp;'

#map_wrapper
  #minimap
  = link_to t('.link.large_map'), root_path, :onclick => "location=permalink('#{root_path}');return false;", :class => 'magnify'


  

- content_for :breadcrumbs do
  = link_to t('breadcrumbs.root'), root_path
  = link_to 'Deutschland', root_path
  = link_to 'Berlin', root_path, :class => 'last'

- content_for :javascript do
  :javascript
    jumpTo(parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"), 17);
    createDraggableLayer(placesStyle(),parseFloat("#{@node.lon}"), parseFloat("#{@node.lat}"));