<section class="node-photos">
    <h2>{{t 'nodes.node_photos.photos_of_this_place' }}</h2>

    {{#node-dropzone classNames='node-photo-dropzone' url=photoUploadPath}}
        <ul>
            {{#each photos}}
                <li>
                    <a {{bind-attr href=this.image }} data-toggle="magnific-popup" data-gallery="node">
                        <img {{bind-attr src=this.preview }} class="img-polaroid">
                    </a>
                </li>
            {{/each}}
            <li class="clickable">
                <a href="#" class="upload wheelchair-yes fade">
                    <i class="icon-camera"></i> {{t 'nodes.node_photos.add' }}
                </a>
                <a class="add" data-toggle="dropzone">
                    <i class="icon-cloud-upload"></i> {{t 'nodes.node_photos.upload' }}
                </a>
            </li>
        </ul>
    {{/node-dropzone}}
</section>