{{! toilet-status }}
<div class="dropdown">
    <a data-toggle="dropdown" {{ bind-attr class=":dropdown-toggle :btn :wheelchair wheelchairToilet" }}>
        {{ toiletText }}
        {{ wheelchair-popover tagName="i" classNames="icon-question-sign" wheelchairBinding="wheelchairToilet" }}
        <i class="icon-caret-down pull-right"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        {{#each status in Wheelmap.Node.WHEELCHAIR_TOILET_STATUSES }}
            <li>
                <a {{ action 'setToilet' status }}>
                    {{ wheelchair-checkbox wheelchair=status status=wheelchairToilet classNameBindings=":wheelchair" }}
                    {{ t 'toiletstatus' status }}
                    {{ wheelchair-popover tagName="i" classNames="icon-question-sign" wheelchair=status }}
                </a>
            </li>
        {{/each }}
        <li class="submit">
            <button class="btn node-popup-status-submit" {{ bind-attr disabled="disableToiletSubmit" }} {{ action 'saveToilet' }}>
                {{ t "formtastic.labels.save" }}
            </button>
        </li>
    </ul>
</div>