{{ render flash-messages }}

<div class="node-wrapper">
    <article class="container node-container">
        <header class="headline-gradient node-header">
            <div class="breadcrumbs">
                <a {{action backToMap}} class="btn back">{{t 'nodes.show.link.back' }}</a>
                <ol class="unstyled">
                    {{#each breadcrumbs}}
                        <li><i class="icon-angle-right"></i>{{this}}</li>
                    {{/each}}
                </ol>
                <a {{action backToMap}} class="btn close"><i class="icon-remove"></i></a>
            </div>
            <h1 itemprop="name">{{headline}}</h1>
            {{#if address}}
                <address>{{address}}</address>
            {{/if}}
        </header>
        <div class="row-fluid">
            <section class="span8 node-content">
                <section class="node-status">
                    <div class="row-fluid">
                        <div class="span6">
                            <h2>{{t 'nodes.node_status.wheelchair_accessibility' }}</h2>

                            {{view Wheelmap.NodePopupStatusDropdownView }}
                        </div>
                    </div>
                </section>

                {{partial 'nodes/photos'}}

                <form method="post" class="node-form form-horizontal">

                    <fieldset>
                        {{#control-group label='activerecord.attributes.poi.name' labelFor='name'}}
                            <div class="controls controls-row">
                                {{view Ember.TextField value=name placeholderI18n="activerecord.attributes.poi.name" class="span12" name="name"}}
                            </div>
                        {{/control-group }}
                        {{#control-group label='activerecord.attributes.poi.type' labelFor='category'}}
                            <div class="controls controls-row">
                                {{#control-error errors=errors.category class="span6"}}
                                    <div class="custom-select">
                                        {{view Ember.Select viewName="select" promptI18n="models.category.prompt" contentBinding="sortedCategories" optionLabelPath="content.name" selectionBinding="category"}}
                                        <i class="icon-caret-down pull-right"></i>
                                    </div>
                                {{/control-error}}
                                {{#control-error errors=errors.node_type classNameBindings=":span6 showNodeTypeSelect::hide"}}
                                    <div class="custom-select">
                                        {{view Ember.Select viewName="select" promptI18n="models.node_type.prompt" contentBinding="sortedNodeTypes" optionLabelPath="content.name" selectionBinding="type"}}
                                        <i class="icon-caret-down pull-right"></i>
                                    </div>
                                {{/control-error}}
                            </div>
                        {{/control-group }}
                    </fieldset>

                    <fieldset>
                        {{#control-group label='activerecord.attributes.poi.address' labelFor='street'}}
                            <div class="controls controls-row">
                                {{#control-error errors=errors.street class="span10"}}
                                    {{view Ember.TextField value=street placeholderI18n="activerecord.attributes.poi.address_street" class="span12" name="street"}}
                                {{/control-error}}
                                {{#control-error errors=errors.housenumber class="span2"}}
                                    {{view Ember.TextField value=housenumber placeholderI18n="activerecord.attributes.poi.address_housenumber" class="span12" name="housenumber"}}
                                {{/control-error}}
                            </div>
                            <div class="controls controls-row">
                                {{#control-error errors=errors.postcode class="span3"}}
                                    {{view Ember.TextField value=postcode placeholderI18n="activerecord.attributes.poi.address_postcode" class="span12" name="postcode"}}
                                {{/control-error}}
                                {{#control-error errors=errors.city class="span9"}}
                                    {{view Ember.TextField value=city placeholderI18n="activerecord.attributes.poi.address_city" class="span12" name="city"}}
                                {{/control-error}}
                            </div>
                        {{/control-group }}
                    </fieldset>

                    <fieldset>
                        {{#control-group label='activerecord.attributes.poi.website' labelFor='website'}}
                            <div class="controls controls-row">
                                {{#control-error errors=errors.website class="span12"}}
                                    {{view Ember.TextField value=website placeholderI18n="activerecord.attributes.poi.website" class="span12" name="website"}}
                                {{/control-error}}
                            </div>
                        {{/control-group}}
                        {{#control-group label='activerecord.attributes.poi.phone' labelFor='phone'}}
                            <div class="controls controls-row">
                                {{#control-error errors=errors.phone class="span12"}}
                                    {{view Ember.TextField value=phone placeholderI18n="activerecord.attributes.poi.phone" class="span12" name="phone"}}
                                {{/control-error}}
                            </div>
                        {{/control-group}}
                    </fieldset>

                    <fieldset>
                        {{#control-group label='activerecord.attributes.poi.note' labelFor='note'}}
                            <div class="controls controls-row">
                                {{#control-error errors=errors.wheelchair_description class="span12"}}
                                    {{view Ember.TextArea value=wheelchair_description rows="3" class="span12" placeholderI18n="activerecord.attributes.poi.note" name="note"}}
                                {{/control-error}}
                            </div>
                        {{/control-group}}
                    </fieldset>

                    <div class="form-actions">
                        <button {{action save}} type="submit" class="btn btn-primary pull-right">{{ t 'actions.save' }}</button>
                        <button {{action backToMap}} type="button" class="btn pull-left wheelmap-btn">{{ t 'actions.cancel' }}</button>
                    </div>
                </form>
            </section>
            <section class="span4 node-aside">
                <section class="node-map">
                    <h2>{{t 'nodes.node_map.map' }}</h2>

                    <div class="map">
                        <a {{action backToMap}}><img class="img-polaroid" {{ bind-attr src="view.mapImage" alt="headline" }}>
                        </a>

                        <div {{bind-attr class=':leaflet-marker-icon view.markerWheelchairClass' }}>
                            <div {{bind-attr class=':marker-icon view.markerIconClass' }}></div>
                        </div>
                    </div>
                    <small class="pull-right bottom"><a href="http://www.openstreetmap.org/copyright">© OpenStreetMap
                        contributors</a></small>
                    <div class="info-box">
                        {{ t 'models.node.info_edit_position' }}
                        <div class="tip-container">
                            <div class="tip"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </article>
</div>