<div class="node-wrapper">
    <article class="container node-container">
        <header class="headline-gradient node-header">
            <div class="breadcrumbs">
                <a {{action backToMap}} class="btn back">{{t 'nodes.show.link.back' }}</a>
                <ol class="unstyled">
                    {{#each breadcrumbs}}
                        <li><i class="icon-angle-right"></i>{{this}}</li>
                    {{/each}}
                </ol>
                <a {{action backToMap}} class="btn close"><i class="icon-remove"></i></a>
            </div>
            <h1 itemprop="name">{{headline}}</h1>
            {{#if address}}
                <address>{{address}}</address>
            {{/if}}
        </header>
        <div class="row-fluid">
            <section class="span8 node-content">
                <section class="node-status">
                    <div class="row-fluid">
                        <div class="span6">
                            <h2>{{t 'nodes.node_status.wheelchair_accessibility' }}</h2>

                            {{view Wheelmap.NodePopupStatusDropdownView }}
                        </div>
                    </div>
                </section>
            </section>
            <section class="span4 node-aside">
                <section class="node-map">
                    <h2>{{t 'nodes.edit.map' }}</h2>

                    <div class="map">
                        <a {{action backToMap}}><img class="img-polaroid" {{ bind-attr src="view.mapImage" alt="headline" }}>
                        </a>

                        <div {{bind-attr class=':leaflet-marker-icon view.markerWheelchairClass' }}>
                            <div {{bind-attr class=':marker-icon view.markerIconClass' }}></div>
                        </div>
                    </div>
                    <small class="pull-right bottom"><a href="http://www.openstreetmap.org/copyright">© OpenStreetMap
                        contributors</a></small>
                </section>
            </section>
        </div>
    </article>
</div>