%h2 Resources
%ul
  %li
    = link_to 'API Docs', api_docs_path
  %li
    = link_to 'Resources', api_docs_resources_path
    %ul
      %li= link_to 'Categories', api_docs_resource_path(:id => 'categories')
      %li= link_to 'Locales', api_docs_resource_path(:id => 'locales')
      %li= link_to 'Nodes', api_docs_resource_path(:id => 'nodes')
      %li= link_to 'NodesTypes', api_docs_resource_path(:id => 'node_types')
      %li= link_to 'Users', api_docs_resource_path(:id => 'users')
      %li= link_to 'Photos', api_docs_resource_path(:id => 'photos')

