
= semantic_form_for current_user, :url => terms_user_path(current_user) do |form|

  %iframe{:align => 'center', :src => 'http://blog.wheelmap.org/was-ist-wheelmap/terms/', :width => '100%', :height => '300', :frameborder => '1', :seamless => 'seamless'}

  = form.input :terms

  %iframe{:align => 'center', :src => 'http://blog.wheelmap.org/was-ist-wheelmap/privacy/', :width => '100%', :height => '300', :frameborder => '0', :seamless => 'seamless'}

  = form.input :privacy_policy
  = form.buttons do
    = form.commit_button t('formtastic.labels.save')
