.content.user
  %header.user-header
    = yield :user_headline
  .user-container
    .user-nav.clearfix
      = render partial: 'tabs'
    .user-content
      = yield

- content_for :javascript do
  = javascript_include_tag :search

  - [:notice,:error,:alert, :success].each do |type|
    - if flash && !flash[type].blank?
      :javascript
        $(".notification.#{type}").show();
