%nav.sidebar.span2
  .tabbable.tabs-left.hidden-phone{style: 'padding:10px;'}
    = render partial: 'tabs'

  .tabbable.tabs-bottom.visible-phone{style: 'padding:10px;'}
    = render partial: 'tabs'

.more-content.span10
  .tab-content{style: 'padding-right:40px;'}
    = yield

- content_for :javascript do
  = javascript_include_tag :search

  - [:notice,:error,:alert, :success].each do |type|
    - if flash && !flash[type].blank?
      :javascript
        $(".notification.#{type}").show();
