.content.user
  .row-fluid
    .span12
      %header.user-header
        = yield :user_headline
  .row-fluid
    %nav.span2.user-nav
      .tabbable.tabs-left.hidden-phone
        = render partial: 'tabs'

      .tabbable.tabs-bottom.visible-phone
        = render partial: 'tabs'

    .span10
      .tab-content.user-content
        = yield

- content_for :javascript do
  = javascript_include_tag :search

  - [:notice,:error,:alert, :success].each do |type|
    - if flash && !flash[type].blank?
      :javascript
        $(".notification.#{type}").show();
