%nav.sidebar.span2
  .tabbable.tabs-left{style: 'padding:10px;'}
    %ul.nav.nav-tabs#profile_tabs
      %li{class: action_name == 'show' ? :active : nil}
        = link_to 'Overview', profile_path, 'id' => 'overview'

      %li{class: action_name == 'photos' ? :active : nil}
        = link_to 'Images', profile_photos_path, 'id' => 'images'

      %li{class: action_name == 'edit' || action_name == 'update' ? :active : nil}
        = link_to 'Account', edit_profile_path, 'id' => 'profile'

.more-content.span10
  .tab-content
    = yield

- content_for :javascript do
  = javascript_include_tag :search

  - [:notice,:error,:alert, :success].each do |type|
    - if flash && !flash[type].blank?
      :javascript
        $(".notification.#{type}").show();
