#user_form{:style => 'padding:10px'}
  %h2{:style => 'font-size: 22px'}=t('.welcome.headline')

  = semantic_form_for @user, :url => after_signup_update_profile_path, :method => :put, :html => {:novalidate => '', :class => 'after_signup_edit form-horizontal', :id =>'edit_user' } do |form|
    = form.inputs do
      %p= t('.welcome.set_password_for_mobile')

      = form.input :email, hint: true, required: true
      = form.input :first_time, :as => :hidden, :input_html => { :value => @user.encrypted_password.blank? ? '1' : '0' }
    = form.inputs do
      = form.input :password, hint: false, required: true
      = form.input :password_confirmation, hint: false, required: true

    = form.actions do
      %input.small.update.btn#user_submit{:name => 'commit', :type => 'submit', :value => t('formtastic.labels.finish'), :style => 'display:inline', :'data-confirm' => t('devise.confirmations.send_instructions')}
      = link_to t('common.skip'), after_sign_in_path_for(:user), class: 'pull-right'

