- content_for :user_headline do
  %h2.headline=t('users.profile.edit.title')

= render layout: 'profile' do
  .tab-pane.active
    .user-form
      = semantic_form_for @user, url: profile_path, html: { class: 'form-horizontal', id: "edit_user"} do |form|
        = form.inputs :name => t('users.profile.edit.legends.user_data') do
          = form.input :first_name, :label => t('activerecord.attributes.user.first_name'), :autofocus => true
          = form.input :last_name, :label => t('activerecord.attributes.user.last_name')
          = form.input :email

        = form.inputs :name => t('devise.sign_up.form.labels.password') do
          = form.input :password, :hint => false
          = form.input :password_confirmation, :hint => t('formtastic.hints.password')

        = form.actions do
          = form.action :submit, label: t('formtastic.labels.save')

      - if @user.authentication_token
        = semantic_form_for :user, :url => reset_token_profile_path, html: { class: 'form-horizontal'},  :method => :post do |form|
          = form.inputs :name => 'API' do
            = form.input :authentication_token, :input_html => {:readonly => :readonly}

          = form.actions do
            = form.action :submit, :label => t('formtastic.labels.reset')


      = semantic_form_for :user, :url => user_registration_path, :html => {:method => 'delete'} do |form|
        = form.actions class: 'legend-float', :name => t('devise.destroy.headline') do
          = form.action :submit, :label => t('devise.destroy.link'), :onclick => "if(!confirm('#{t('devise.destroy.confirm')}')){ return false; }"

      -# TODO Renebale user photos
      %hr
      %div.inner-padding-10
        =link_to 'Terms', terms_path
      %hr
