#user_form
  %h1=t('profile.edit.headline')
  = semantic_form_for @user do |form|
    = form.inputs do
      = form.input :email, :required => false
      = form.input :password, :required => false, :hint => t('formtastic.hints.password')
      = form.input :password_confirmation, :required => false
    %h2=t('oauth.application.connect.headline')
  
    %br
    %p.pad
      - if current_user.oauth_authorized?
        %h2.center>
          =t('profile.edit.application.oauth.connected')
          |
          = link_to t('profile.edit.application.oauth.revoke'), revoke_oauth_index_path
      - else
        %h2.center>
          =t('profile.edit.application.oauth.not_connected')
          |
          = link_to t('profile.edit.application.oauth.grant'), new_oauth_path
      
  
    = form.buttons do
      = form.commit_button t('formtastic.labels.save')
      
      