#user_form
  %h1{:style => 'margin-bottom:30px'}=t('profile.edit.headline')

  = semantic_form_for @user do |form|
    = form.inputs :name => t('devise.sign_up.form.labels.email') do
      = form.input :first_name
      = form.input :last_name
      = form.input :email
      = form.input :wants_newsletter, :input_html => {:class => 'newsletter'}, :label => t('devise.sign_up.form.labels.wants_newsletter')


    = form.inputs :name => t('devise.sign_up.form.labels.password') do
      = form.input :password, :hint => false
      = form.input :password_confirmation, :hint => t('formtastic.hints.password')

    = form.buttons do
      = form.commit_button t('formtastic.labels.save')

  -# TODO Renebale user photos
  %hr
  %h2= t('.headline.your_images')
  #thumbs_private
    %ul.thumbs.noscript
      = render :partial => 'photos/photo', :collection => @user.photos
  .clear


  - if @user.authentication_token
    %hr
    = semantic_form_for :user, :url => reset_token_user_path(@user), :method => :post do |form|
      = form.inputs :name => 'API'do
        = form.input :authentication_token, :input_html => {:readonly => :readonly}

      = form.buttons do
        = form.commit_button t('formtastic.labels.reset')


  %hr
  = semantic_form_for :user, :url => user_registration_path, :html => {:method => 'delete'} do |form|
    = form.inputs :name => t('devise.destroy.headline') do
      = form.buttons do
        = form.submit t('devise.destroy.link'), :onclick => "if(!confirm('#{t('devise.destroy.confirm')}')){ return false; }"

  -# TODO Renebale user photos
  %hr
  =link_to 'Terms', terms_path
