#user_form
  %h1{:style => 'margin-bottom:30px'}=t('profile.edit.headline')

  %form.formtastic
    %fieldset.inputs
      %legend OpenStreetMap
      %ol
        %li.input
          %p.large{:style => 'width:500px'}=t('oauth.application.connect.headline')

      %p.pad
        - if current_user.oauth_authorized?
          %h2>
            =t('profile.edit.application.oauth.connected')
        - else
          %h2>
            =t('profile.edit.application.oauth.not_connected')
    %fieldset.buttons
      %ol
        %li.commit
          - if current_user.oauth_authorized?
            = link_to t('profile.edit.application.oauth.revoke'), revoke_oauth_index_path, :class => 'button add-place', :style => 'position:relative;left: 140px;'
          - else
            = link_to t('profile.edit.application.oauth.grant'), new_oauth_path, :onclick => "_gaq.push(['_trackPageview', '/osm/connect/start'])", :class => 'button add-place', :style => 'position:relative;left: 140px;'

  = semantic_form_for @user do |form|
    = form.inputs :name => t('devise.sign_up.form.labels.email') + ' + ' + t('devise.sign_up.form.labels.password') do
      = form.input :email, :required => false
      = form.input :password, :required => false, :hint => t('formtastic.hints.password')
      = form.input :password_confirmation, :required => false

      = form.input :wants_newsletter, :input_html => {:class => 'newsletter'}, :label => t('devise.sign_up.form.labels.wants_newsletter')

    = form.buttons do
      = form.commit_button t('formtastic.labels.save')

  - if @user.authentication_token
    = semantic_form_for :user, :url => reset_token_user_path(@user), :method => :post do |form|
      = form.inputs :name => 'API'do
        = form.input :authentication_token, :input_html => {:readonly => :readonly}

      = form.buttons do
        = form.commit_button t('formtastic.labels.reset')


  %hr
  = semantic_form_for :user, :url => user_registration_path, :html => {:method => 'delete'} do |form|
    = form.inputs :name => t('devise.destroy.headline') do
      = form.buttons do
        = form.submit t('devise.destroy.link'), :onclick => "if(!confirm('#{t('devise.destroy.confirm')}')){ return false; }"