.frame#user_form
  %h1=t('profile.edit.headline')
  - semantic_form_for @user do |form|
    - form.inputs do
      = form.input :email, :required => false
      = form.input :password, :required => false, :hint => t('formtastic.hints.password')
      = form.input :password_confirmation, :required => false
    %h2=t('oauth.application.connect.headline')
  
    %h3
      =t('profile.edit.application.connect.oauth')
    %p.pad
      - if current_user.application_authorized?
        =t('profile.edit.application.oauth.connected')
        = link_to t('profile.edit.application.oauth.revoke'), new_oauth_path
      - else
        =t('profile.edit.application.oauth.not_connected')
        = link_to t('profile.edit.application.oauth.grant'), new_oauth_path
      
    
    %h3
      =t('profile.edit.application.connect.login')
    - form.inputs do
      = form.input :osm_username, :required => false, :hint => t('formtastic.hints.osm_username')
      = form.input :osm_password, :required => false, :as => :password

  
    - form.buttons do
      = form.submit
      
      