- content_for :user_headline do
  %h2=t('.headline.overview')

= render layout: 'profile' do
  .tab-pane.active
    %p=t('.explanation_text')

    %h5 Du hast

    .row-fluid
      %div
        .span6
          = "#{@user.tag_counter} Orte markiert"
        .span6
          = "#{@user.create_counter} Orte hinzugefügt"

      %div
        .span6
          = "#{@user.edit_counter} Orte bearbeitet"
        .span6
          = "#{@user.photos.count} Photos hochgeladen."