= render layout: 'profile' do

  .tab-pane.active#overview
    %p=t('.explanation_text')

    %h3=t('.headline.overview')

    Du hast
    %ul
      %li
        = "#{@user.tag_counter} Orte markiert"
      %li
        = "#{@user.create_counter} Orte hinzugefügt"
      %li
        = "#{@user.edit_counter} Orte bearbeitet"
      %li
        = "#{@user.photos.count} Photos hochgeladen."
