= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |form|
  = form.inputs :name => t('devise.password_reset.headline') do
    = form.hidden_field :reset_password_token
    = form.input :password, :label => t('devise.password_reset.form.labels.password')
    = form.input :password_confirmation, :label => t('devise.password_reset.form.labels.password_confirmation')
  = form.actions do
    = form.action :submit, :label => t('devise.password_reset.form.submit')
    %p.hint= t('devise.mandatory')

= render :partial => "devise/shared/links"
