= semantic_form_for( resource, :as => resource_name, :url => password_path(resource_name)) do |form|
  =form.inputs :name => t('devise.password_recovery.headline') do
    = form.input :email, :label => t('devise.password_recovery.form.labels.email'), :hint => false, :required => true, :error => false
  =form.actions do
    = form.action :submit, :label => t('devise.password_recovery.form.submit')
    %p.hint= t('devise.mandatory')

= render :partial => "devise/shared/links"
