%header
  %nav.links
  
    - if user_signed_in?
      = link_to current_user.email, edit_user_path(current_user)
      |
      = link_to t('devise.sign_out.headline'), destroy_user_session_path
      |
    - else
      = link_to t('devise.sign_in.headline'), new_user_session_path
      |
      = link_to t('devise.sign_up.headline'), new_registration_path(:user)
      |
    = link_to t('header.navigation.what_is_wheelmap'), 'http://blog.wheelmap.org/was-ist-wheelmap/'
    |
    = link_to t('header.navigation.blog'), 'http://blog.wheelmap.org/'
    |
    %select{:onchange => 'location.href=this.options[this.selectedIndex].value'}
      - I18n.available_locales.map(&:to_s).sort.each do |locale|
        %option{:value => url_for_subdomain(request.url, locale), :selected => (I18n.locale.to_s == locale.to_s)}>
          =I18n.t(locale)
  #logo
    - link_to root_path, :title => t('wheelmap.logo.title') do
      = image_tag 'wheelmap_logo_small.png', :width => 300, :height => 84, :alt => t('wheelmap.logo.alt')
  #searchbar
    %form
      %ol
        %li
          %label
            =t('header.searchbar.label')
          = text_field_tag :search, '', :class => 'search_field'
          
          %input{:type => 'submit', :class => 'search_button', :value => t('header.searchbar.find')}
          Oder
          = link_to t('header.searchbar.add_place'), new_node_path, :class => 'button'
    