%header
  %nav.links
  
    - if user_signed_in?
      =current_user.email
      |
      = link_to t('devise.sign_out.headline'), destroy_user_session_path
      |
    - else
      = link_to t('devise.sign_in.headline'), new_user_session_path
      |
      = link_to t('devise.sign_up.headline'), new_registration_path(:user)
      |
    = link_to t('header.navigation.what_is_wheelmap'), 'http://blog.wheelmap.org/was-ist-wheelmap/'
    |
    = link_to t('header.navigation.blog'), 'http://blog.wheelmap.org/'
    |
    %select{:onchange => 'location.href=this.options[this.selectedIndex].value'}
      %option{:value => root_url(:subdomain => 'de')}>Deutsch
      %option{:value => root_url(:subdomain => 'en')}>Englisch
  #logo
    - link_to root_path, :title => t('wheelmap.logo.title') do
      = image_tag 'wheelmap_logo_small.png', :width => 300, :height => 84, :alt => t('wheelmap.logo.alt')
  #searchbar
    %form
      %ol
        %li
          %label
            Barrierefreie Plätze in:
          = text_field_tag :search, '', :class => 'search_field'
          
          %input{:type => 'submit', :class => 'search_button', :value => 'Finden'}
          Oder
          = link_to 'Platz hinzufügen', new_node_path, :class => 'button'
    