#header
  %nav.links
    - if user_signed_in?
      = link_to current_user.email, edit_user_path(current_user)
      = link_to t('devise.sign_out.headline'), destroy_user_session_path
    - elsif admin_signed_in?
      = link_to "ADM: #{current_admin.email}", '#'
      = link_to t('header.navigation.tolk'), tolk_root_path
      = link_to t('devise.sign_out.headline'), destroy_admin_session_path
    - else
      = link_to t('devise.sign_in.headline'), new_user_session_path
      = link_to t('devise.sign_up.headline'), new_registration_path(:user)
    = link_to t('header.navigation.what_is_wheelmap'), 'http://blog.wheelmap.org/'
    = link_to t('header.navigation.imprint'), 'http://blog.wheelmap.org/kontakt/'
    = link_to t('header.navigation.feedback'), 'http://wheelmap.uservoice.com/forums/31554-general', :id => 'feedback_link', :rel => 'nofollow'
    %select{:onchange => 'location.href=this.options[this.selectedIndex].value'}
      - I18n.available_locales.map(&:to_s).sort.each do |locale|
        %option{:value => url_for_locale(request.url, locale), :selected => (I18n.locale.to_s == locale.to_s)}>
          =Languages[locale.to_s]
  #logo
    = link_to root_path, :title => t('wheelmap.logo.title') do
      = image_tag "wheelmap_logo_small_#{I18n.locale}.png", :size => '300x85', :alt => t('wheelmap.logo.alt')
  #appstorebadge
    = link_to "http://itunes.apple.com/#{I18n.locale}/app/wheelmap/id399239476?mt=8", :title => t('wheelmap.itunes.title'), :target => '_blank' do
      = image_tag "app_store_badge_#{I18n.locale}.gif", :size => '130x45', :alt => t('wheelmap.itunes.alt')
  #searchbar
    -#{:style => 'visibility:hidden'}
    %form{:action => '/search'}
      = text_field_tag :search, '', :placeholder => t('header.searchbar.placeholder'), :autocomplete => 'off', :value => params[:q] ? params[:q] : nil, :name => 'q'
      %button(type="submit")= t('header.searchbar.find')
      .or-add-place
        .or= t('or')
        = link_to t('header.searchbar.add_place'), new_node_path, :class => 'button add-place', :id => 'createlink', :title => t('header.searchbar.title_add_place'), :rel => 'nofollow'

