#splash{:style => 'display:none'}
  .close-splash
    %a.unblock-splash(href='#')
      = image_tag('close.gif', :size => '17x17', :alt => 'x')
  %h1= t('splash.headline')
  %h2= t('splash.countline', :count => Poi.tagged.count)
  %hr
  %ol
    %li
      %span= t('splash.step1')
    %li
      %span= t('splash.step2')
    %li
      %span= t('splash.step3')

  %p
    = link_to t('splash.start'), '#', :class => 'unblock-splash button splash-start'
  %p
    = link_to t('splash.what_is_wheelmap'), '//news.wheelmap.org/', :class => 'whatis'
