%h4= t('home.index.filter.category')
%ul#amenities
  - Category.all.sort_by(&:localized_name).each do |category|
    %li{:class => category.identifier}
      = check_box_tag("category-#{category.identifier}", category.identifier, true, :class => 'filter', :rel => 'category')
      = label_tag "category-#{category.identifier}", category.localized_name


#fast-select
  .select-all=t('home.index.filter.select_all')
  .deselect-all=t('home.index.filter.deselect_all')
