= minimize_overlay('counter')
  
%h4=t('statistics')
%ul#state-counter
  %li.state-yes= "#{t('place', :count => Poi.fully_accessible.count)}"
  %li.state-no= "#{t('place', :count => Poi.not_accessible.count)}"
  %li.state-limited= "#{t('place', :count => Poi.limited_accessible.count)}"
