%h4= t('home.index.filter.wheelchair')

%ul#options.clearfix
  %li.state.yes
    = check_box_tag(:wheelchair_yes, 'yes', true, :class => 'filter', :rel => 'wheelchair')
    = label_tag :wheelchair_yes, t('wheelmap.what_is.fully_accessible').html_safe
  %li.state.limited
    = check_box_tag(:wheelchair_limited, 'limited', true, :class => 'filter', :rel => 'wheelchair')
    = label_tag :wheelchair_limited, t('wheelmap.what_is.limited_accessible').html_safe
  %li.state.no
    = check_box_tag(:wheelchair_no, 'no', true, :class => 'filter', :rel => 'wheelchair')
    = label_tag :wheelchair_no, t('wheelmap.what_is.not_accessible').html_safe
  %li.state.unknown
    = check_box_tag(:wheelchair_unknown, 'unknown', true, :class => 'filter', :rel => 'wheelchair')
    = label_tag :wheelchair_unknown, t('wheelmap.what_is.unknown_accessible').html_safe + ' ' + link_to_participate
