#bar
  #options<
    = check_box_tag(:wheelchair_yes, 1, true)
    = label_tag :wheelchair_yes, 'barrierefrei', :class => 'barrier-free'
    = check_box_tag(:wheelchair_limited, 1, true)
    = label_tag :wheelchair_limited, 'teilweise barrierefrei', :class => 'limited-barrier-free'
    = check_box_tag(:wheelchair_no, 1, false)
    = label_tag :wheelchair_no, 'nicht barrierefrei', :class => 'not-barrier-free'
    = check_box_tag(:wheelchair_unknown, 1, true)
    = label_tag :wheelchair_unknown, 'unbekannt', :class => 'unknown'
  #links
    = link_to "Drucken", '#', :class => 'print'
    = link_to "Senden", '#', :class => 'mail'
    = link_to "Link", '#', :class => 'link'
-#%aside
  - %w(Bars Cafés Fast-Food Pubs Restaurants Kinos Theater).each do |what|
    %p= check_box_tag('a') + label_tag(what)
#amenities
#map
