= render :partial => 'relaunch/toolbar'
#wheelmap
= render :partial => 'relaunch/popup_template'
= render :partial => 'overlay'

- content_for :javascript do
  = javascript_include_tag :application
  = javascript_include_tag "i18n/#{I18n.locale}"
