#sidebar
  = image_tag('close.gif', :size => '17x17', :alt => 'x', :class => 'minimize')
  = render :partial => 'home/wheelchair_status_filter'
  %div.minimize
    &nbsp;
  = render :partial => 'home/category_filter'

  = link_to "http://www.tausendundeinerampe.de", :target => '_blank' do
    =image_tag("/images/weihnachtsbanner.png", :size => '330x100')

  = link_to "http://itunes.apple.com/#{I18n.locale}/app/wheelmap/id399239476?mt=8" do
    =image_tag("/images/app_store_badge.png", :size => '134x45')
  = link_to "https://market.android.com/details?id=org.wheelmap.android.online&hl=#{I18n.locale}" do
    =image_tag("/images/market_store_badge.png", :size => '129x45')

#spinner

#facebox
  %h2=t('.ie.warning.headline')
  .content
    %p=t('.ie.warning.message')

    %p
      = link_to t('.ie.action.upgrade'), "http://www.updateyourbrowser.net/en/", :class => 'button primary'
      = link_to t('.ie.action.ignore'), '#', :class => 'button secondary close', :onclick => 'return false;'

-content_for :javascript do
  :javascript
    drawmap(defaultControls(document), 'map');
    createPlacesLayer(placesStyle());
    initGeoData();
    $(function () {
      jumpTo(lon,lat,zoom);
    })

    if($.cookie('ie_warning') != 1 && $.browser.msie && parseInt($.browser.version) < 8){
      $("#facebox").overlay({
        top: 260,
        mask: {
          color: '#cccccccc', loadSpeed: 200, opacity: 0.5
        },
        closeOnClick: false,
        load: true
      });
      $.cookie('ie_warning', 1);
    }

  = render :partial => 'shared/google_event_tracking'
  = render :partial => 'shared/google_view_tracking'