#sidebar
  = image_tag('close.gif', :size => '17x17', :alt => 'x', :class => 'minimize')
  = render :partial => 'home/wheelchair_status_filter'
  %div.minimize
    &nbsp;
  = render :partial => 'home/category_filter'
  .button_wheelmap
    Die Wheelmap für's Smartphone
    
  .button_donate
    Unterstütze Wheelmap
  
#spinner

#facebox
  %h2=t('.ie.warning.headline')
  .content
    %p=t('.ie.warning.message')

    %p
      = link_to t('.ie.action.upgrade'), "http://www.updateyourbrowser.net/en/", :class => 'button primary'
      = link_to t('.ie.action.ignore'), '#', :class => 'button secondary close', :onclick => 'return false;'

- content_for :javascript_constants do
  :javascript
    var available_locales = #{(I18n.available_locales.inject({}) { |memo, o| memo[o] = true; memo }).to_json};
    var url_locale = window.location.pathname.split('/')[1];
    if (available_locales[url_locale]) {
      var language = url_locale;
    } else {
      var language = 'de';
    };

-content_for :javascript do
  :javascript
    drawmap(defaultControls(), 'map');
    createPlacesLayer(placesStyle());
    initGeoData();
    $(function () {
      jumpTo(lon,lat,zoom);
    })

  - if browser_class.include?('trident-7') || browser_class.include?('trident-6')
    :javascript
      if($.cookie('ie_warning') == 1){
        // ignore, user saw IE warning.
      } else {
        $("#facebox").overlay({
          top: 260,
          mask: {
            color: '#cccccccc', loadSpeed: 200, opacity: 0.5
          },
          closeOnClick: false,
          load: true
        });
        $.cookie('ie_warning', 1);
      }

  = render :partial => 'shared/google_event_tracking'