#wheelmap.embedded

- content_for :javascript do
  %script
    = "ENV = { WIDGET: #{ActiveSupport::JSON.encode(widget_data(@widget))} }".html_safe;
  = javascript_include_tag 'app'
  = javascript_include_tag "i18n/#{I18n.locale}"
