<div class="node-popup-report btn-group dropdown pull-right">
  <button class="dropdown-toggle btn wheelmap-btn" data-toggle="dropdown">
    <i class="icon-bolt"></i>
    <span class="caret"></span>
  </button>

  <div class="dropdown-accordion node-popup-report-accordion">
    <header>
      <div class="pull-right">
        <a {{ bind-attr href=view.aboutFaqLink target=view.linkTarget }} class="btn btn-mini" target="_blank">FAQ</a>
        <a class="btn btn-mini" {{ bind-attr href=bugsEmail }}>
          <i class="icon-envelope-alt"></i>
        </a>
      </div>
      {{ t 'faq.headline' }}
    </header>
    <div class="accordion-group">
      <a class="collapsed accordion-toggle" data-target=".node-popup-report-0" data-toggle="collapse" data-parent=".node-popup-report-accordion">
        <i class="icon-chevron-up pull-right"></i>
        {{t 'faq.questions.0' }}
      </a>
      <div class="collapse node-popup-report-0">
        <div class="accordion-inner">
          {{t "faq.answers.0" }}
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <a class="collapsed accordion-toggle" data-target=".node-popup-report-1" data-toggle="collapse" data-parent=".node-popup-report-accordion">
        <i class="icon-chevron-up pull-right"></i>
        {{t 'faq.questions.1' }}
      </a>
      <div class="collapse node-popup-report-1">
        <div class="accordion-inner">
          {{t "faq.answers.1" }}
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <a class="collapsed accordion-toggle" data-target=".node-popup-report-2" data-toggle="collapse" data-parent=".node-popup-report-accordion">
        <i class="icon-chevron-up pull-right"></i>
        {{t 'faq.questions.2' }}
      </a>
      <div class="collapse node-popup-report-2">
        <div class="accordion-inner">
          {{t "faq.answers.2" }}
        </div>
      </div>
    </div>

  </div>
</div>