.promo_box
  %h2=t('devise.sign_in.headline')
  %p.osm= t('.osm_promo_text')
  %p.wheelmap= t('.wheelmap_promo_text')
  %p
    %em= t('.promo_text_thank_you')
.login_box

  .image_block
    = link_to '/users/auth/osm' do
      = image_tag('openstreetmap_logo.png')

    =link_to t('.sign_in_with', :kind => 'OpenstreetMap'), user_omniauth_authorize_path(:osm), :class => 'button'

  %p
    =t('.no_osm_account')
    = link_to t('.sign_up_with_osm', :kind => 'OpenstreetMap'), user_omniauth_authorize_path(:osm)
.clearFix

.hidden
  = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form|
    = form.inputs :name => t('devise.sign_in.headline') do
      = form.input :email, :label => t('devise.sign_in.form.labels.email')
      = form.input :password, :label => t('devise.sign_in.form.labels.password'), :hint => false

      - if devise_mapping.rememberable?
        %li.checkbox-optional
          = form.check_box :remember_me
          = form.label :remember_me, t('devise.sign_in.form.labels.remember_me')
    = form.buttons do
      = form.commit_button t('devise.sign_in.form.submit')
      %p.hint= t('devise.mandatory')

  %p
    = render :partial => "devise/shared/links"
