%table
  %tbody
    %tr
      %td{:style => 'width:40%'}
        %p.large
          Die Wheelmap ist ein Teil der OpenStreetMap. Eine freie, editierbare Karte der gesamten Welt, die von Menschen wie dir erstellt wird. Wikipedia für Karten.

        %p.large
          Logge dich ein um bestehende Orte zu bearbeiten oder neue anzulegen.

        %ul.bullets
          %li Teile dein Wissen über rollstuhlgerechte Orte"
          %li Mit Deinem Beitrag können Menschen mit Mobilitätseinschränkungen besser planen wo sie reinkommen, und wo nicht.

      %td{:style => 'width:50%;padding-left: 150px'}
        %div{:style => 'width: 200px'}
          = image_tag('openstreetmap_logo.png')
          =link_to 'Log in with OpenStreetMap', '/users/auth/osm', :class => 'button'

        %p
          %br
          Noch nicht bei OpenStreetMap?
          = link_to "Registrieren", register_osm_oauth_index_url

.hidden
  = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form|
    = form.inputs :name => t('devise.sign_in.headline') do
      = form.input :email, :label => t('devise.sign_in.form.labels.email')
      = form.input :password, :label => t('devise.sign_in.form.labels.password'), :hint => false

      - if devise_mapping.rememberable?
        %li.checkbox-optional
          = form.check_box :remember_me
          = form.label :remember_me, t('devise.sign_in.form.labels.remember_me')
    = form.buttons do
      = form.commit_button t('devise.sign_in.form.submit')
      %p.hint= t('devise.mandatory')

  %p
    = render :partial => "devise/shared/links"
