#container
  .row
    .span9.offset4
      = render_flash

  .content-wrap
    .content
      .login.clearfix
        .promo_box
          %h2=t('devise.sign_in.headline')
          %p.osm= t('.osm_promo_text')
          %p.wheelmap= t('.wheelmap_promo_text')
          %p
            %em= t('.promo_text_thank_you')
        .login_box

          .image_block
            = link_to '/users/auth/osm' do
              = image_tag('openstreetmap_logo.png')

            =link_to t('.sign_in_with', :kind => 'OpenstreetMap'), user_omniauth_authorize_path(:osm), :class => 'button'

          %p
            =t('.no_osm_account')
            = link_to t('.sign_up_with_osm'), register_osm_oauth_index_url


- content_for :javascript do
  = javascript_include_tag "jquery"
  = javascript_include_tag "bootstrap"
  = javascript_include_tag "bootstrap-select"
  %script
    $(document).ready(function () { $('.selectpicker').selectpicker(); });