= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |form|
  = devise_error_messages!
  = form.inputs :name => t('devise.confirmations.link') do
    = form.input :email, :hint => false

  = form.actions do
    = form.action :submit, :label => "Resend confirmation instructions"
= render :partial => "devise/shared/links"
