= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  = f.inputs :name => t('devise.confirmations.link') do
    = f.input :email, :hint => false

  = f.buttons do
    = f.commit_button "Resend confirmation instructions"
= render :partial => "devise/shared/links"
