{{! status }}
<h3>{{ t 'nodes.node_status.wheelchair_accessibility' }}</h3>
{{#if isUnknown }}
    <ul class="unstyled node-popup-status-is-unknown">
        {{#each status in view.WHEELCHAIR_STATUSES }}
            <li>
                <a {{ action 'setWheelchair' status }} {{ bind-attr class=":btn :wheelchair status" }}>
                    {{ wheelchair-checkbox wheelchair=status status=wheelchair }}
                    {{ t 'home.index.popup.form' status }}
                    <i class="icon-question-sign"></i>
                </a>
            </li>
        {{/each }}
    </ul>
{{else}}
    <div class="dropdown">
        <a data-toggle="dropdown" {{ bind-attr class=":dropdown-toggle :btn :wheelchair wheelchair" }}>
            {{ statusText }}
            <i class="icon-question-sign" data-toggle="popover" {{ bind-attr data-title="statusText" }} {{ bind-attr data-content="statusDescription" }} data-trigger="hover"></i>
            <i class="icon-caret-down pull-right" ></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            {{#each status in view.WHEELCHAIR_STATUSES }}
                <li>
                    <a {{ action 'setWheelchair' status }}>
                        {{ wheelchair-checkbox wheelchair=status status=wheelchair classNameBindings=":wheelchair" }}
                        {{ t 'home.index.popup.form' status }}
                        <i class="icon-question-sign"></i>
                    </a>
                </li>
            {{/each }}
            <li class="submit">
                <button class="btn node-popup-status-submit" {{ bind-attr disabled="disableWheelchairSubmit" }} {{ action 'saveWheelchair' wheelchair }}>
                    {{ t "formtastic.labels.save" }}
                </button>
            </li>
        </ul>
    </div>
{{/if }}