<div class="btn-toolbar">
  <button class="btn btn-info btn-searchbar">
    <i class="icon-search icon-light"></i>
  </button>
  <form action="/search" class="navbar-form" method="GET">
    <div class="input-append">
      {{ view Wheelmap.SearchbarView }}
      {{ view Wheelmap.SearchbarButtonView }}
    </div>
  </form>
  <div class="btn-group status-filter">
    {{ view Wheelmap.ToolbarFilterButtonView wheelchair='yes' }}
    {{ view Wheelmap.ToolbarFilterButtonView wheelchair='limited' }}
    {{ view Wheelmap.ToolbarFilterButtonView wheelchair='no' }}
    {{ view Wheelmap.ToolbarFilterButtonView wheelchair='unknown' }}
  </div>
</div>
