<div class="btn-toolbar">
    <form action="/search" class="navbar-form" method="GET">
        <button class="btn btn-info btn-searchbar">
            <i class="icon-search icon-light"></i>
        </button>
        <div class="input-append">
            {{ view Wheelmap.SearchbarView }}
            {{ view Wheelmap.SearchbarButtonView }}
        </div>
    </form>
    <div class="btn-group status-filter">
        {{ view Wheelmap.ToolbarFilterButtonView wheelchair='yes' }}
        {{ view Wheelmap.ToolbarFilterButtonView wheelchair='limited' }}
        {{ view Wheelmap.ToolbarFilterButtonView wheelchair='no' }}
        {{ view Wheelmap.ToolbarFilterButtonView wheelchair='unknown' }}
    </div>
    <div class="btn-group bootstrap-select show-menu-arrow category-filter show-tick">
        <button class="btn dropdown-toggle clearfix btn-info" data-toggle="dropdown"><span
                class="icon-tags"></span><span class="filter-option pull-left">{{#if activeCategories.length }}<span
                class="counter">{{ activeCategories.length }}</span>{{/if}} {{ view.categoryButton }}</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each}}
                <li {{ bind-attr class="isActive:selected" }}>
                    <a {{ action toggleIsActive }}>
                        <span class="pull-left">
                            {{ t 'poi.category' identifier }}
                        </span>
                        <i class="icon-ok pull-right check-mark"></i>
                    </a>
                </li>
            {{/each}}
            <li class="filter clearfix">
                <button class="btn pull-right" {{ action toggleAllIsActive }}><i {{ bind-attr class="allActive:icon-check-empty:icon-check" }}></i></button>
            </li>
        </ul>
    </div>
</div>
