<div class="toolbar-content">
    {{#if view.showSearch}}
    <button class="btn btn-info toolbar-toggle-searchbar" data-toggle="searchbar" data-target=".toolbar-searchbar-form">
        <i class="icon-search icon-light"></i>
    </button>
    <form action="/search" class="toolbar-searchbar-form" method="GET" {{ bind-attr target=view.searchFormTarget }}>
        <div class="input-append">
            {{ view Wheelmap.SearchbarView }}
            {{ view Wheelmap.SearchbarButtonView }}
        </div>
    </form>
    {{/if}}
    <div {{ bind-attr class=":btn-group :bootstrap-select :toolbar-filter-dropdown :toolbar-status-filter-btn :show-menu-arrow isStatusYes:yes isStatusNo:no isStatusLimited:limited isStatusUnknown:unknown" }}>
        <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">
            <i class="toolbar-status-filter-btn-icon"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li {{ bind-attr class="isStatusYes:selected :toolbar-filter-dropdown-button :yes" }}>
                <a {{ action toggleStatusFilter 'yes' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <span>{{ t 'wheelchairstatus.yes' }}</span>
                </a>
            </li>
            <li {{ bind-attr class="isStatusLimited:selected :toolbar-filter-dropdown-button :limited" }}>
                <a {{ action toggleStatusFilter 'limited' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <span>{{ t 'wheelchairstatus.limited' }}</span>
                </a>
            </li>
            <li {{ bind-attr class="isStatusNo:selected :toolbar-filter-dropdown-button :no" }}>
                <a {{ action toggleStatusFilter 'no' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <span>{{ t 'wheelchairstatus.no' }}</span>
                </a>
            </li>
            <li {{ bind-attr class="isStatusUnknown:selected :toolbar-filter-dropdown-button :unknown" }}>
                <a {{ action toggleStatusFilter 'unknown' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <span>{{ t 'wheelchairstatus.unknown' }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="btn-group toolbar-status-filter">
        {{status-filter-button activeFilters=activeStatusFilters wheelchair='yes' didClick="toggleStatusFilter" }}
        {{status-filter-button activeFilters=activeStatusFilters wheelchair='limited' didClick="toggleStatusFilter" }}
        {{status-filter-button activeFilters=activeStatusFilters wheelchair='no' didClick="toggleStatusFilter" }}
        {{status-filter-button activeFilters=activeStatusFilters wheelchair='unknown' didClick="toggleStatusFilter" }}
    </div>
    <div {{ bind-attr class=":btn-group :bootstrap-select :toolbar-filter-dropdown :toolbar-toilet-filter :show-menu-arrow isToiletYes:yes isToiletNo:no isToiletUnknown:unknown" }}>
        <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">
            WC
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li {{ bind-attr class="isToiletYes:selected :toolbar-filter-dropdown-button :yes" }}>
                <a {{ action toggleToiletFilter 'yes' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <i class="icon-question-sign pull-right" data-popover data-trigger="hover" {{ bind-attr title="view.whatIsToiletYesTitle" data-content="view.whatIsToiletYesContent" }}></i>
                    <span>{{ t 'toiletstatus.yes' }}</span>
                </a>
            </li>
            <li {{ bind-attr class="isToiletNo:selected :toolbar-filter-dropdown-button :no" }}>
                <a {{ action toggleToiletFilter 'no' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <i class="icon-question-sign pull-right" data-popover data-trigger="hover" {{ bind-attr title="view.whatIsToiletNoTitle" data-content="view.whatIsToiletNoContent" }}></i>
                    <span>{{ t 'toiletstatus.no' }}</span>
                </a>
            </li>
            <li {{ bind-attr class="isToiletUnknown:selected :toolbar-filter-dropdown-button :unknown" }}>
                <a {{ action toggleToiletFilter 'unknown' }}>
                    <i class="icon-ok pull-right check-mark"></i>
                    <i class="icon-question-sign pull-right" data-popover data-trigger="hover" {{ bind-attr title="view.whatIsToiletUnknownTitle" data-content="view.whatIsToiletUnknownContent" }}></i>
                    <span>{{ t 'toiletstatus.unknown' }}</span>
                </a>
            </li>
        </ul>
    </div>
    {{#if view.showCategories}}
    <div class="btn-group bootstrap-select show-menu-arrow toolbar-category-filter show-tick">
        <button class="btn dropdown-toggle clearfix btn-info" data-toggle="dropdown">
            <span class="icon-tags"></span>
            <span class="caret pull-right"></span>
            <span class="filter-option">{{ view.categoryButton }}</span>
            {{#if activeCategories.length }}<span class="counter">{{ activeCategories.length }}</span>{{/if}}
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#each}}
                <li {{ bind-attr class="isActive:selected" }}>
                    <a {{ action toggleCategoryIsActive }}>
                        <i class="icon-ok pull-right check-mark"></i>
                        {{ t 'poi.category' identifier }}
                    </a>
                </li>
            {{/each}}
            <li class="filter clearfix">
                <button class="btn pull-right" {{ action toggleAllCategoriesAreActive }}><i {{ bind-attr class="allCategoriesAreActive:icon-check-empty:icon-check" }}></i></button>
            </li>
        </ul>
    </div>
    {{/if}}
</div>
