.support-form
  = form_tag('/community_support') do
    = label_tag 'name'
    = text_field_tag :name
    = label_tag 'email'
    = text_field_tag :email
    = label_tag 'message'
    = text_area_tag :message
    = submit_tag 'Save'
