.container
  .support-form
    %h1=I18n.t('community_support_form.new.form.title')
    %p=I18n.t('community_support_form.new.form.header_text')
    %ul
      %li=I18n.t('community_support_form.new.form.questions.a')
      %li=I18n.t('community_support_form.new.form.questions.b')
      %li=I18n.t('community_support_form.new.form.questions.c')
    %h5=I18n.t('community_support_form.new.form.note')
    = semantic_form_for(@support_request, :url => community_support_index_path ) do |f|
      = f.input :name
      = f.input :email, hint: ""
      = f.input :message, as: :text , label: I18n.t('community_support_form.new.form.describe')
      = f.action :submit, as: :button, label: I18n.t('community_support_form.new.form.submit_button')
