/ footer start
- cache("#{I18n.locale}/relaunch/_footer.html.haml'}", :expires_in => 10.minutes) do
  %footer#footer
    %ul.social
      %li
        %table.counter
          %tbody
            %tr
              %td
                =image_tag('mini_marker.png', :size => '28x17', :title => "#{t('wheelchairstatus.yes')}:#{Poi.fully_accessible.count}\n#{t('wheelchairstatus.limited')}:#{Poi.limited_accessible.count}\n#{t('wheelchairstatus.no')}:#{Poi.not_accessible.count}")
              %td{:style => "background: url(\'#{image_path('bubble.png')}\') no-repeat left center;background-position: 0px 0px"} &nbsp;
              %td{:style => "padding-right: 5px;background: url(\'#{image_path('bubble.png')}\') no-repeat 100% 0px"}=Poi.tagged.count
        %li=link_to "Tweet", "http://twitter.com/share", :class => "twitter-share-button", :style => 'display:none', 'data-lang' => I18n.locale, 'data-counturl' => roooot_url, 'data-related' => 'wheelmap,sozialhelden', 'data-hashtags' => 'wheelmap'
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %li
        %iframe{:src => "http://www.facebook.com/plugins/like.php?app_id=231074856943658&href=#{u(roooot_url)}&send=false&layout=button_count&width=150&show_faces=false&action=like&colorscheme=light&height=20", :scrolling => "no", :frameborder => "0", :style =>"border:none; overflow:hidden; width:150px; height:20px;", :allowTransparency => "true"}
    %ul.credits
      %li
        %span{:style => 'display:inline-block'}= t('wheelmap.footer.main_supporter')
        = link_to "http://wheelmap.org/about/partner/immobilienscout24/", id: 'immobilienscout24' do
          = image_tag('immoscout@2x.png', :size => '42x20', :alt => 'ImmobilienScout24', :title => 'ImmobilienScout24', :style => "margin-top: -3px;height:20px")
        = link_to "http://wheelmap.org/about/partner/allianz/", style: "display:none", id: 'allianz' do
          = image_tag('allianz@2x.png', :size => '45x20', :alt => 'Allianz Logo', :title => 'Allianz', :style => "margin-top: -3px;height:20px")
      %li
        = link_to t('header.navigation.imprint'), community_imprint_url, :target => '_blank'
      %li
        %span= t('wheelmap.footer.a_project_of')
        = link_to 'http://sozialhelden.de', :id => 'sozialhelden', :title => 'Sozialhelden' do
          = image_tag('sozialhelden@2x.png', :class => 'sozialhelden_logo', :alt => t('layouts.application.banner.alt'), :size => '120x24', :style => "margin-top: -4px;height:24px;")

/ footer end