%header#header
  %nav.navbar
    .navbar-inner
      .container

        %a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        -# Using / explicitly to end up at the wordpress landing page
        =link_to('/', :class => "logo") do
          %span= t('header.title')

        .btn-toolbar.pull-right{:style => 'padding-right:10px'}
          .btn-group
            = link_to new_node_path, :class => ['btn', 'btn-success', 'btn-small', 'btn-add'], :title =>  t('header.searchbar.add_place'), :rel => 'nofollow' do
              = fa_icon("plus light")
            = link_to t('header.searchbar.add_place'), new_node_path, :class => ['btn', 'btn-small', 'hidden-phone', 'hidden-tablet'], :title =>  t('header.searchbar.add_place'), :rel => 'nofollow'

          - if user_signed_in?
            .btn-group{:style => 'margin: 10px 10px 0px'}
              = link_to profile_path, :class => ['btn', 'btn-small'] do
                = fa_icon('user')
                %span.hidden-phone=t('header.navigation.profile')
              = link_to destroy_user_session_path, :class => ['btn', 'btn-small'] do
                = fa_icon('trash')
                %span.hidden-phone=t('devise.sign_out.headline')
          - else
            = link_to new_user_session_path, :class => ['btn', 'btn-small'], :title =>  t('header.navigation.login'), :style => 'margin: 10px 10px 0px' do
              %i.icon-user
              %span.hidden-phone=t('header.navigation.login')

          %select.selectpicker.pull-right.language-select{:onchange => 'location.href=this.options[this.selectedIndex].value + window.location.hash', :title => "\f0ac", :'data-style' => "btn-small"}
            %i
            %optgroup{:label => I18n.t('header.navigation.choose_language'), :class => 'icon-globe'}
              - I18n.available_locales.map(&:to_s).sort.each do |locale|
                %option{:value => url_for_locale(request.url, locale),:title => "<i class='icon-globe'></i><span class='hidden-phone'>#{Languages[I18n.locale.to_s]}</span>", :selected => (I18n.locale.to_s.downcase == locale.to_s.downcase)}=Languages[locale.to_s]

        .nav-collapse.collapse
          .list-wrapper
            %ul.inline
              %li= link_to t('header.navigation.about_wheelmap', :default => :en), community_about_url
              %li= link_to t('header.navigation.map', :default => :en), root_path
              %li= link_to t('header.navigation.projects', :default => :en), community_projects_url
              %li= link_to t('header.navigation.blog', :default => :en), community_blog_url
              %li= link_to t('header.navigation.press', :default => :en), community_press_url
              %li= link_to t('header.navigation.contact', :default => :en), community_contact_url
              %li= link_to t('header.navigation.report_problem', :default => :en), new_community_support_url
