<header>
  <div class="content">
    <a href="#" class="logo"><%= t('header.title') %></a>
    <ul class="accountbar">
      <li>
        <%= link_to new_node_path, :class => 'add' do %>
          <div class="icon">&#10133;</div>
          <p>Ort hinzufügen</p>
        <% end %>
      </li>

      <li>
        <%- if user_signed_in? -%>
          <%= link_to edit_profile_path(current_user), :class => 'profile' do %>
            <div class="icon">&#128100;</div>
            <p><%= t('header.navigation.profile') %></p>
          <% end %>
        <%-  else -%>
          <%= link_to new_user_session_path, :class => 'profile' do %>
            <div class="icon">&#128100;</div>
            <p><%= t('header.navigation.login') %></p>
          <% end %>
        <%- end %>
      </li>
      <li>
        <%= render :partial => 'shared/available_locales' %>
      </li>
    </ul>
    <nav>
      <ul>
      <li><a href="http://community.wheelmap.org/about/">Über Wheelmap</a></li>
      <li><a href="#" class="active">Karte</a></li>
      <li><a href="http://community.wheelmap.org/projekte/">Mitmach-Projekte</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="http://community.wheelmap.org/about/presse/">Presse</a></li>
      <li><a href="http://community.wheelmap.org/kontakt/">Kontakt</a></li>
      </ul>
      <select class="mobile">
        <option value="Home">Home</option>
        <option value="http://community.wheelmap.org/about/">Über Wheelmap</option>
        <option value="http://community.wheelmap.org/mitmachen/werde-ein-mapper/">- Mappen – so funktioniert’s</option>
        <option value="http://community.wheelmap.org/about/haufig-gestellte-fragen/">- Häufig gestellte Fragen</option>
        <option value="http://community.wheelmap.org/about/unterstutzer-partner/">- Unterstützer &amp; Partner</option>
        <option selected="" value="Navigation">Karte</option>
        <option value="http://community.wheelmap.org/mitmachen/">Mitmach-Projekte</option>
        <option value="http://community.wheelmap.org/mitmachen/mapping-aktion/">- Wheelmap-Aktion starten</option>
        <option value="http://community.wheelmap.org/mitmachen/erzahle-von-wheelmap-org/">- Botschafter sein</option>
        <option value="http://community.wheelmap.org/mitmachen/schulprojekt/">- Schule machen</option>
        <option value="http://community.wheelmap.org/tragbare-rampen-fur-mehr-rollstuhlgerechtigkeit/">- Rampen unterstützen</option>
        <option value="http://community.wheelmap.org/mitmachen/social-day/">- Social Day unternehmen</option>
        <option value="http://community.wheelmap.org/barrierefrei-planen-wie-geht-das-denn/">- Barrierefrei planen</option>
        <option value="http://community.wheelmap.org/mitmachen/datenspenden/">- Ortsdaten teilen</option>
        <option value="http://community.wheelmap.org/blog/">Blog</option>
        <option value="http://community.wheelmap.org/">Ort markieren!</option>
        <option value="#">Deutsch</option>
        <option value="http://community.wheelmap.org/en/">- English</option>
      </select>
    </nav>
  </div>
</header>