%header#header
  %nav.navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        =link_to '', root_path, :class => "logo"


        .btn-toolbar.pull-right{:style => 'padding-right:10px'}
          .btn-group
            = link_to new_node_path, :class => ['btn', 'btn-add', 'btn-small'], :title =>  t('header.searchbar.add_place') do
              %i.icon-plus.icon-white
            = link_to t('header.searchbar.add_place'), new_node_path, :class => ['btn', 'btn-small', 'hidden-phone', 'hidden-tablet']


          = link_to new_user_session_path, :class => ['btn', 'btn-small'], :style => 'margin: 10px 10px 0px' do
            %i.icon-user
            %span.hidden-phone= t('header.navigation.login')


          %select.selectpicker.pull-right.language-select{:onchange => 'location.href=this.options[this.selectedIndex].value', :title => "\f0ac", :'data-style' => "btn-small"}
            %i
            %optgroup{:label => I18n.t('header.navigation.choose_language'), :class => 'icon-globe'}
              - I18n.available_locales.map(&:to_s).sort.each do |locale|
                %option{:value => url_for_locale(request.url, locale),:title => "<i class='icon-globe'></i><span class='hidden-phone'>#{Languages[I18n.locale.to_s]}</span>", :selected => (I18n.locale.to_s.downcase == locale.to_s.downcase)}=Languages[locale.to_s]

        .nav-collapse.collapse
          .list-wrapper
            %ul.inline
              %li= link_to t('header.navigation.about_wheelmap', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "http://community.wheelmap.org/about/#{I18n.locale == :de ? nil : 'en/'}"
              %li= link_to t('header.navigation.map', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "#"
              %li= link_to t('header.navigation.projects', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "http://community.wheelmap.org/projekte/#{I18n.locale == :de ? nil : 'en/'}"
              %li= link_to t('header.navigation.blog', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "http://community.wheelmap.org/#{I18n.locale == :de ? nil : 'en/'}"
              %li= link_to t('header.navigation.press', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "http://community.wheelmap.org/about/presse/#{I18n.locale == :de ? nil : 'en/'}"
              %li= link_to t('header.navigation.contact', :default => :en, :locale => (I18n.locale == :de ? :de : :en)), "http://community.wheelmap.org/kontakt/#{I18n.locale == :de ? nil : 'en/'}"
