<div id="toolbar">
  <div class="content">
  <div class="searchbar">
    <form action="/search" method="GET">
      <input type="search" id="search" name="q" value="<%= params[:q].present? ? params[:q] : nil %>" autocomplete="off" placeholder="<%= t('header.searchbar.placeholder') %>" />
      <button type="submit" value="<%= t('header.searchbar.find')%>">&#128269;</button>
    </form>
  </div>
  <ul class="ort-filter">
    <li class="yes active">
      <label>Ja</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Rollstuhlgerecht</h3>
        <p>Eingang stufenlos, alle Räume stufenlos, mit behindertengerechtem WC, falls ortsüblich.</p>
      </div>
    </li>
    <li class="limited active">
      <label>Teilweise</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Teilweise Rollstuhlgerecht</h3>
        <p>Eingang max 1 Stufe (7cm hoch), die wichtigsten Räume stufenlos, WC egal.</p>
      </div>
    </li>
    <li class="no active">
      <label>Nein</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Nicht Rollstuhlgerecht</h3>
        <p>Eingang hat höhere oder mehrere Stufen, Räume nicht erreichbar.</p>
      </div>
    </li>
    <li class="unknown active">
      <label>Unbekannter Status</label>
      <input type="checkbox" name="" value="" />
      <div class="tooltip">
        <h3>Unbekannter Status</h3>
        <p>Hilf mit und markiere diese Orte!</p>
      </div>
    </li>
  </ul>

  <select>
    <option value="">Alle Kategorien</option>
    <%- Category.all.sort_by(&:localized_name).each do |category| %>
      <option value="<%= category.identifier%>"><%= category.localized_name %></option>
    <% end %>
  </select>
<!--      <button>WC</button>-->

  </div>
</div>