!!!
%html(lang="#{I18n.locale}")
  %head
    = render :partial => 'shared/meta'
    
    / HOPTOAD START
    = hoptoad_javascript_notifier
    / HOPTOAD END
    
    = content_for?(:head) ? content_for(:head) : content_tag(:title, t('header.title'))

    = render :partial => 'shared/html5_elements'
    
    = content_for :javascript_constants

    = stylesheet_link_tag 'screen', :cache => 'screens'
    
  %body(class=browser_class)
    = render :partial => '/shared/header'      
    #main
      = show_flash
      = yield
        
    = render :partial => 'shared/footer'
    
    = render :partial => 'shared/google_tracking'

    = content_for :javascript