!!!
%html(lang="#{I18n.locale}")
  %head
    %meta(charset="utf-8")
    %title= t('header.title')
    %meta{'http-equiv' => 'Content-language', :content => I18n.locale}
    %meta{'http-equiv' => 'language', :content => I18n.locale}
    %meta{:name => 'language', :content => I18n.locale}
    %meta{:name => 'description', :content => t('header.meta.description')}
    %meta{:name => 'keywords', :content => t('header.meta.keywords')}
    %meta{:name => 'copyright', :content => 'Sozialhelden e.V'}
    %meta{:name => 'robots', :content => 'follow index'}
    
    %link{:href => search_index_url, :rel => 'search', :title => t('header.meta.search')}
    %link{:href => root_url, :rel => 'home', :title => t('header.meta.homepage')}
    %link{:href => imprint_url, :rel => 'author', :title => t('header.navigation.imprint')}

    = stylesheet_link_tag 'screen', :cache => 'screens'
    - if @content_for_head
      = yield(:head)
    /[if IE]
      = render :partial => 'shared/add_html5_elements'
      -#= javascript_include_tag 'html5'

    = javascript_include_tag 'uservoice'
    :javascript
      var object_types = ["#{ (session['amenities']).join('","')}"];
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
  %body{ :class => [browser_class, ('map' if @content_for_map)] }
    = render :partial => '/shared/header'
    - if @content_for_map
      #map
        = yield :map
    #main
      = show_flash
      = yield
    %footer
      - link_to 'http://sozialhelden.de', :id => 'sozialhelden' do
        = image_tag('sozialhelden.png', :alt => t('.banner.alt'))
    = javascript_include_tag 'http://j.maxmind.com/app/geoip.js'
    = javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js'
    = javascript_include_tag 'jquery', 'util', 'autocomplete', 'icons', 'string', 'popup', 'osm', 'application', 'map', :cache => 'maps'
    - if @content_for_jquery
      = yield :jquery
      :javascript
        $(function(){#{jquery}})
    - if @content_for_javascript
      = yield :javascript
    = render :partial => 'shared/google_tracking'
