!!!
%html(lang="#{I18n.locale}")
  %head
    %meta(charset="utf-8")
    %title= t('header.title')
    = stylesheet_link_tag 'screen', :cache => 'screens'
    - if @content_for_head
      = yield(:head)
    /[if IE]
      = render :partial => 'shared/add_html5_elements'
    :javascript
      var object_types = ["#{ (session['amenities']).join('","')}"];
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
  - map  = yield(:map)
  - main = yield
  %body{ :class => [browser_class, ('map' if map)] }
    = render :partial => '/shared/header'
    - if map
      #map
        = map
    - if main
      #main
        = main
    %footer
      - link_to 'http://sozialhelden.de', :id => 'sozialhelden' do
        = image_tag('sozialhelden.png', :alt => t('.banner.alt'))
    = javascript_include_tag 'http://j.maxmind.com/app/geoip.js'
    = javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js'
    = javascript_include_tag 'http://www.openstreetmap.org/openlayers/OpenStreetMap.js'
    = javascript_include_tag 'jquery', 'util', 'icons', 'string', 'popup', 'search', ,'cloudmade', 'application', 'map', :cache => 'maps'
    - if @content_for_jquery
      = yield :jquery
      :javascript
        $(function(){#{jquery}})
    - if @content_for_javascript
      = yield :javascript
