!!!
%html(lang="#{I18n.locale}")
  %head
    %meta(charset="utf-8")
    %title= t('header.title')
    = stylesheet_link_tag 'screen', :cache => false
    - if head = yield(:head)
      = head
    /[if IE]
      :javascript
        var ce=document.createElement;ce('header');ce('nav');ce('article');ce('section');ce('footer');ce('aside');ce('time')
  %body(class=browser_class)
    = yield
    = javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js'
    = javascript_include_tag 'http://www.openstreetmap.org/openlayers/OpenStreetMap.js'
    = javascript_include_tag 'jquery', 'util', 'icons', 'application', :cache => false
    - if jquery = yield(:jquery)
      :javascript
        $(function(){#{jquery}})
