!!!
%html(lang="#{I18n.locale}")
  %head
    = render :partial => 'shared/meta'
    
    = render :partial => 'shared/content_for_head'

    = render :partial => 'shared/html5_elements'
    
    = render :partial => 'shared/content_for_javascript_constants'

    = stylesheet_link_tag 'screen', :cache => 'screens'
    
  %body(class=browser_class)
    = render :partial => '/shared/header'      
    #main
      = show_flash
      = yield
        
    = render :partial => 'shared/footer'
    
    = render :partial => 'shared/google_tracking'

    = render :partial => 'shared/content_for_javascript'