!!!
%html(lang="#{I18n.locale}")
  %head
    %meta(charset="utf-8")
    %title= t('header.title')
    = stylesheet_link_tag 'screen', :cache => false
    - if head = yield(:head)
      = head
    /[if IE]
      :javascript
        var ce=document.createElement;ce('header');ce('nav');ce('article');ce('section');ce('footer');ce('aside');ce('time')
  %body(class=browser_class)
    = yield
    %footer
      %nav
        - if user_signed_in?
          =current_user.email
        = link_to 'Blog', 'http://blog.wheelmap.org/'
        = link_to 'Was ist Wheelmap?', 'http://blog.wheelmap.org/was-ist-wheelmap/'
        = link_to 'Was bedeutet „barrierefrei“?', 'http://blog.wheelmap.org/was-bedeutet-barrierefrei/'
        = link_to 'Wie trage ich Orte ein?', 'http://blog.wheelmap.org/wie-kann-ich-orte-eintragen/'
        = link_to 'Anregungen', 'http://blog.wheelmap.org/ihre-meinung-ist-uns-wichtig/'
        = link_to 'Impressum', '#', :'data-show' => '#imprint'
    - link_to 'http://sozialhelden.de', :id => 'sozialhelden' do
      = image_tag('sozialhelden.png', :alt => 'Ein Projekt der Sozialhelden')
    = javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js'
    = javascript_include_tag 'http://www.openstreetmap.org/openlayers/OpenStreetMap.js'
    = javascript_include_tag 'jquery', 'util', 'icons', 'string', 'popup', 'search', 'application', :cache => false
    - if jquery = yield(:jquery)
      :javascript
        $(function(){#{jquery}})
