!!!
%html(lang="#{I18n.locale}")
  %head
    = render :partial => 'shared/meta'

    = render :partial => 'shared/content_for_head'
      
    = render :partial => 'shared/html5_elements'
    
    = render :partial => 'shared/content_for_javascript_constants'

    = stylesheet_link_tag 'screen', :cache => 'screens'

  %body(class=browser_class)
    = render :partial => '/shared/header'
    #map
      = yield
    = show_flash
    
    = render :partial => 'shared/footer'
        
    = render :partial => 'shared/google_tracking'

    = javascript_include_tag 'openlayers', 'jquery', 'autocomplete', 'cookie', 'uservoice', 'icons', 'openlayers_de', 'openlayers_en', 'osm', 'application', 'map', :cache => "maps_#{I18n.locale}"

    = render :partial => 'shared/content_for_javascript'
