!!!
%html(lang="#{ I18n.locale }")
  %head{ :profile => "http://dublincore.org/documents/dcq-html/" }
    %link{ :rel => "schema.DC", :href => "http://purl.org/dc/elements/1.1/" }
    %link{ :rel => "schema.DCTERMS", :href => "http://purl.org/dc/terms/" }

    = render :partial => 'shared/meta'

    - if content_for?(:head)
      = content_for(:head)
    - else
      %meta{:name => 'description', :content => t('header.meta.description')}
      %title=t('header.title')

    = render :partial => 'shared/html5_elements'

    = content_for :javascript_constants

    = stylesheet_link_tag :screen, :media => 'screen, projection'

    = render :partial => 'shared/mixpanel_tracking'

  %body{:class => browser_class, :style => 'overflow:hidden'}
    = render :partial => 'shared/header'
    = render :partial => 'shared/splash'

    #map
      = yield

    = show_flash

    #footer.fixed
      = render :partial => 'shared/footer'

    = render :partial => 'shared/google_tracking'

    = content_for :javascript
    = render :partial =>  'shared/social_embed'
