!!!
%html(lang="#{I18n.locale}")
  %head
    = render :partial => 'shared/meta'

    / HOPTOAD START
    = hoptoad_javascript_notifier
    / HOPTOAD END
    
    - if content_for?(:head)
      = content_for(:head)
    - else
      %meta{:name => 'description', :content => t('header.meta.description')}
      %title=t('header.title')
    
    = render :partial => 'shared/html5_elements'
    
    = content_for :javascript_constants

    = stylesheet_link_tag 'screen', :cache => 'screens'

  %body(class=browser_class)
    = render :partial => '/shared/header'
    #map
      = yield
      
    = show_flash
    
    = render :partial => 'shared/footer'
        
    = render :partial => 'shared/google_tracking'
    
    -# Using IE
    - if browser_class.include?('trident')
      = javascript_include_tag 'jquery.ie'
      -# Using IE 7 or lower
      - if browser_class.include?('trident-7') || browser_class.include?('trident-6')
        = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js'
    - else
      = javascript_include_tag 'jquery'
      
    = javascript_include_tag 'openlayers', 'cloudmade', 'autocomplete', 'cookie', 'uservoice', 'icons', 'openlayers_i18n', 'osm', 'application', 'map'

    = content_for :javascript
