!!!
%html(lang="#{I18n.locale}")
  %head
    = render :partial => 'shared/meta'
    
    = yield(:head) || content_tag(:title, t('header.title'))

    = render :partial => 'shared/html5_elements'
    
    = yield :javascript_constants
      
    = stylesheet_link_tag 'node', :cache => 'nodes'

  %body(class=browser_class)
    = render :partial => '/shared/header'      
    #main
      = show_flash
      = yield

    = render :partial => 'shared/footer'  

    = render :partial => 'shared/google_tracking'

    = javascript_include_tag 'openlayers', 'jquery', 'autocomplete', 'cookie', 'uservoice', 'icons', 'osm', 'application', :cache => "minimaps_#{I18n.locale}"
    
    = yield :javascript