!!!
%html(lang="#{I18n.locale}")
  %head
    %meta(charset="utf-8")
    %title= t('header.title')
    = stylesheet_link_tag 'node', :cache => 'nodes'
    - if @content_for_head
      = yield(:head)
    /[if IE]
      :javascript
        var ce=document.createElement;ce('header');ce('nav');ce('article');ce('section');ce('footer');ce('aside');ce('time');
    :javascript
      var object_types = ["#{ (session['amenities']).join('","')}"];
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}        
  %body(class=browser_class)
    = render :partial => '/shared/header'      
    #main
      = show_flash
        
      = yield
    %footer
      %nav      
        - link_to 'http://sozialhelden.de', :id => 'sozialhelden' do
          = image_tag('sozialhelden.png', :alt => t('.banner.alt'))
    = javascript_include_tag 'http://j.maxmind.com/app/geoip.js'
    = javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js'
    = javascript_include_tag 'jquery', 'util', 'autocomplete', 'icons', 'string', 'popup', 'search', 'osm', 'application', 'minimap', :cache => 'minimaps'
    - if @content_for_jquery
      = yield :jquery
      :javascript
        $(function(){#{jquery}})
    - if @content_for_javascript
      = yield :javascript
    = render :partial => 'shared/google_tracking'

