!!!
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{I18n.locale}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="#{I18n.locale}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="#{I18n.locale}"> <![endif]-->
<!--[if gt IE 8]> <!--><html class="no-js" lang="#{I18n.locale}"> <![endif]-->
%head
  %meta(charset ='utf-8')
  %meta(http-equiv = "X-UA-Compatible")
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=0"}

  = include_stylesheets :relaunch, :media => 'screen, projection'
  /[if lte IE 8]
    = include_stylesheets 'relaunch.ie', :media => 'screen, projection'
  = include_javascripts :modernizr, :media => 'screen, projection'

%body
  = render :partial => 'relaunch/header'
  = render :partial => 'relaunch/toolbar'

  = yield

  = render :partial => 'relaunch/footer'

  = javascript_include_tag 'http://j.maxmind.com/app/geoip.js'
  = include_javascripts :relaunch, :media => 'screen, projection'
  :javascript
    I18n.defaultLocale = "de";
    I18n.locale = "#{I18n.locale}";

  = content_for :javascript
</html>