!!!
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="#{I18n.locale}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="#{I18n.locale}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="#{I18n.locale}"> <![endif]-->
<!--[if gt IE 8]> <!--><html class="no-js" lang="#{I18n.locale}"> <![endif]-->
%head
  %meta{:charset      => 'utf-8'}
  %meta{:'http-equiv' => "X-UA-Compatible"}
  %meta{:name         => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=0"}
  %meta{:name         => "apple-mobile-web-app-capable", :content => "yes"}
  %meta{:name         => "apple-mobile-web-app-status-bar-style", :content =>"black"}
  
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "images/webapp/icon_144-144.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "images/webapp/icon_114-114.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "images/webapp/icon_72-72.png"}
  %link{:rel => "apple-touch-icon-precomposed", :href => "images/webapp/icon_57-57.png"}
  %link{:rel => "shortcut icon", :href => "images/webapp/icon_57-57.png"}
  
  %link{:rel => "apple-touch-startup-image", :href => "images/webapp/splash-screen_iphone.png"} 
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 320px)", :href => "images/webapp/splash-screen_iphone.png"}
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 320px) and (-webkit-device-pixel-ratio: 2)", :href => "images/webapp/splash-screen_iphone@2x.png"}
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: portrait)", :href => "images/webapp/ipad_splashscreens_horizontal.png"}
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 768px) and (orientation: landscape)", :href => "images/webapp/ipad_splashscreens_vertikal.png"}
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)", :href => "images/webapp/ipad_splashscreens_vertikal.png@2x"}
  %link{:rel => "apple-touch-startup-image", :media => "(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)", :href => "images/webapp/ipad_splashscreens_horizontal.png@2x"}

  = content_for :meta

  = include_stylesheets :relaunch, :media => 'screen, projection'
  /[if lte IE 8]
    = include_stylesheets 'relaunch.ie', :media => 'screen, projection'
    = include_javascripts :modernizr, :media => 'screen, projection'

%body
  = render :partial => 'relaunch/header'
  = render :partial => 'relaunch/toolbar.html.haml'
  = yield

  = render :partial => 'relaunch/footer'
  = javascript_include_tag 'http://j.maxmind.com/app/geoip.js'
  = include_javascripts :relaunch
  = content_for :javascript
</html>